framework/MCS-Open/subsystems/architecture/xml-schema/marlin/src/marlin-web-driver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Zoe Jones (private) -->
<!-- ==========================================================================
 ! $Header: /cvs/architecture/architecture/xml-schema/marlin/src/marlin-web-driver.xsd,v 1.6 2005/10/04 13:47:50 philws Exp $
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2003. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 30-Jun-03    Ian             R722 Created. Defines the structure of the
 !                              Web driver markup.
 ! 04-Jul-03    Ian             R722 Updated subsitiuation group.
 ! 23-Jul-03    Ian             R722 Removed copied*.
 ! 10-Oct-03    Paul            Fixed errors identified by Xerces.
 ! 02-Oct-05    Phil W-S        Added timeout.
 ! ======================================================================== -->
<!--
 !
 ! ****************************************************************************
 ! This file is owned by Architecture and can only be changed by a member of
 ! that group.
 ! ****************************************************************************
 !
 !-->
<xs:schema targetNamespace="http://www.volantis.com/xmlns/marlin-web-driver" xmlns:mdc="http://www.volantis.com/xmlns/marlin-driver-conditioners" xmlns:pipeline="http://www.volantis.com/xmlns/marlin-pipeline" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.volantis.com/xmlns/marlin-web-driver" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.volantis.com/xmlns/marlin-pipeline" schemaLocation="marlin-pipeline-core.xsd"/>
    <xs:import namespace="http://www.volantis.com/xmlns/marlin-driver-conditioners" schemaLocation="marlin-driver-conditioners.xsd"/>
    <xs:attributeGroup name="RequestAttrs">
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="url" type="xs:anyURI" use="required"/>
        <xs:attribute name="version" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1.0"/>
                    <xs:enumeration value="1.1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="followRedirects" type="xs:boolean" use="optional"/>
        <xs:attribute name="ignoreErroredContent" type="xs:boolean" use="optional"/>
        <xs:attribute name="timeout" type="xs:integer" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="EntityAttributes">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="pipeline:PipelineExpression" use="optional"/>
        <xs:attribute name="from" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    <xs:complexType name="GenericEntity">
        <xs:sequence minOccurs="0">
            <xs:element ref="name" minOccurs="0"/>
            <xs:element ref="value" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="EntityAttributes"/>
    </xs:complexType>
    <xs:complexType name="Cookie" mixed="false">
        <xs:complexContent mixed="false">
            <xs:extension base="GenericEntity">
                <xs:sequence minOccurs="0">
                    <xs:element ref="path" minOccurs="0"/>
                    <xs:element ref="domain" minOccurs="0"/>
                    <xs:element ref="maxage" minOccurs="0"/>
                    <xs:element ref="secure" minOccurs="0"/>
                    <xs:element ref="version"/>
                </xs:sequence>
                <xs:attribute name="domain" type="xs:string" use="optional"/>
                <xs:attribute name="path" type="xs:string" use="optional"/>
                <xs:attribute name="maxage" type="xs:double" use="optional"/>
                <xs:attribute name="secure" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Parameter" mixed="false">
        <xs:complexContent mixed="false">
            <xs:extension base="GenericEntity">
                <xs:sequence minOccurs="0">
                    <xs:element ref="target" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="target" type="RequestParameterTargetType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestMethod">
        <xs:annotation>
            <xs:documentation>Generic HTTP request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="proxy" minOccurs="0"/>
            <xs:element ref="script" minOccurs="0"/>
            <xs:element ref="content" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="headers"/>
            <xs:element ref="parameters"/>
            <xs:element ref="cookies"/>
        </xs:sequence>
        <xs:attributeGroup ref="RequestAttrs"/>
    </xs:complexType>
    <xs:simpleType name="CookieVersionType">
        <xs:annotation>
            <xs:documentation>Allowable values for specifying cookie version.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="netscape"/>
            <xs:enumeration value="rfc2109"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestParameterTargetType">
        <xs:annotation>
            <xs:documentation>Allowable values for specifying parameter target.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="query"/>
            <xs:enumeration value="body"/>
            <xs:enumeration value="default"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="get" type="RequestMethod" substitutionGroup="pipeline:BasePipelineOperationElement">
        <xs:annotation>
            <xs:documentation>Represents a HTTP GET operation for the driver</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="post" type="RequestMethod" substitutionGroup="pipeline:BasePipelineOperationElement">
        <xs:annotation>
            <xs:documentation>Represents a HTTP POST operation for the driver</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="parameter" type="Parameter">
        <xs:annotation>
            <xs:documentation>A HTTP request parameter</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="proxy">
        <xs:annotation>
            <xs:documentation>Proxy Configuration</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="ref" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="header" type="GenericEntity">
        <xs:annotation>
            <xs:documentation>HTTP Header</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="cookie">
        <xs:annotation>
            <xs:documentation>HTTP Cookie</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Cookie">
                    <xs:attribute name="version" type="CookieVersionType" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="content">
        <xs:annotation>
            <xs:documentation>Specifies what content this connector will process</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="action" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="consume"/>
                        <xs:enumeration value="ignore"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="headers">
        <xs:annotation>
            <xs:documentation>Specifies the request headers associated with this request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="header"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameters">
        <xs:annotation>
            <xs:documentation>Specifies the request parameters associated with whith request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="parameter"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="cookies">
        <xs:annotation>
            <xs:documentation>Specifies the cookies associated with this request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="cookie"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="script">
        <xs:annotation>
            <xs:documentation>Specifies the script module to use for this driver</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="ref" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="name" type="xs:string">
        <xs:annotation>
            <xs:documentation>The name of an entitiy</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="value" type="xs:string">
        <xs:annotation>
            <xs:documentation>The value of an entity</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="target" type="RequestParameterTargetType">
        <xs:annotation>
            <xs:documentation>The target of a parameter</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="domain" type="xs:string">
        <xs:annotation>
            <xs:documentation>The domain of a cookie</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="path" type="xs:string">
        <xs:annotation>
            <xs:documentation>The path of a cookie</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="maxage" type="xs:double">
        <xs:annotation>
            <xs:documentation>The maximum age of a cookie</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="secure">
        <xs:annotation>
            <xs:documentation>The security of a cookie</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:boolean">
                    <xs:attributeGroup ref="EntityAttributes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="version" type="CookieVersionType">
        <xs:annotation>
            <xs:documentation>The version of the cookie</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
