MCS/architecture/api/src/main/resources/xml-schema/config/src/modules/data-source-module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="common-module.xsd"/>
    <!--Common-->
    <xs:element name="parameter">
        <xs:annotation>
            <xs:documentation>User defined parameter specification.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The name of the parameter.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="value" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The value of the parameter.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--Named data source-->
    <xs:simpleType name="DataSourceName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="named-data-source">
        <xs:complexType>
            <xs:group ref="AnonymousDataSource"/>
            <xs:attribute name="name" type="DataSourceName" use="required"/>
            <xs:attribute name="connect-on-start-up" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:documentation>
                        <p/>
                        <p/>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--JNDI-->
    <xs:simpleType name="InitialContextName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="jndi-configuration">
        <xs:annotation>
            <xs:documentation>Encapsulates JNDI configuration.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="initial-context"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="initial-context">
        <xs:annotation>
            <xs:documentation>Configures a JNDI InitialContext.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="parameter"/>
            </xs:sequence>
            <xs:attribute name="name" type="InitialContextName" use="required">
                <xs:annotation>
                    <xs:documentation>The name of the initial context which must be unique within the JNDI configuration.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="jndi-data-source">
        <xs:annotation>
            <xs:documentation>Allows a data source to be retrieved from JNDI.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="initial-context" type="InitialContextName" use="required">
                <xs:annotation>
                    <xs:documentation>The name of the initial context within which the name will be resolved. This must match the name of an initial-context defined within the jndi-configuration.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The name of the data source within the initial context.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--Data sources-->
    <xs:group name="AnonymousUnpooledDataSource">
        <xs:annotation>
            <xs:documentation>Data sources that are anonymous and unpooled.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:group ref="ConcreteDataSource"/>
            <xs:element ref="anonymous-data-source"/>
        </xs:choice>
    </xs:group>
    <xs:group name="AnonymousDataSource">
        <xs:annotation>
            <xs:documentation>Data sources that are always anonymous.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:group ref="AnonymousUnpooledDataSource"/>
            <xs:element ref="connection-pool"/>
            <xs:element ref="data-source">
                <xs:annotation>
                    <xs:documentation>A definition of reference to a A reference to a named data source.</xs:documentation>
                    <xs:documentation>A definition of reference to a A reference to a named data source.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:group name="ConcreteDataSource">
        <xs:annotation>
            <xs:documentation>
                <p>Concrete (not a references) data source configuration. These data sources may be either anonymous or password protected.</p>
                <p>See documentation for anonymous-data-source for explanation of the terms anonymous and password protected.</p>
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element ref="jdbc-driver"/>
            <xs:element ref="mcs-database"/>
            <xs:element ref="jndi-data-source"/>
        </xs:choice>
    </xs:group>
    <xs:element name="jdbc-driver">
        <xs:annotation>
            <xs:documentation>Allows a JDBC Driver to be used as a data source.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="parameter"/>
            </xs:choice>
            <xs:attribute name="driver-class" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>Specify the name of the JDBC driver class to load.

If this attribute is set then it is loaded using Class.forName. If an error occurs while trying to load it then the error is logged and the data source is ignored.

If this attribute is not specified then it is assumed that the driver class has been loaded in some other way, e.g. by adding it to the list of drivers in the jdbc.drivers system property.
</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="database-url" type="xs:anyURI" use="required">
                <xs:annotation>
                    <xs:documentation>The driver specific URL that identifies the database to access. This is the same as the URL passed to the DriverManager.getConnection () methods.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="VendorName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="oracle"/>
            <xs:enumeration value="postgres"/>
            <xs:enumeration value="odbc"/>
            <xs:enumeration value="db2"/>
            <xs:enumeration value="mssql-ms"/>
            <xs:enumeration value="mssql-datad"/>
            <xs:enumeration value="mssql-jsql"/>
            <xs:enumeration value="hypersonic"/>
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="derby-server"/>
            <xs:enumeration value="sybase"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="mcs-database">
        <xs:annotation>
            <xs:documentation>Allows access to a database type that is known to Mariner.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="vendor" type="VendorName" use="required">
                <xs:annotation>
                    <xs:documentation>The vendor of the database. This also identifies the driver to use to access the database.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="source" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The source of the database.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="host" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The database host.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="port" use="required">
                <xs:annotation>
                    <xs:documentation>The database port.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:unsignedShort">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--Connection Pool-->
    <xs:element name="connection-pool">
        <xs:annotation>
            <xs:documentation>Creates a pooled connection pool from an anonymous unpooled data source.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:group ref="AnonymousUnpooledDataSource"/>
            </xs:choice>
            <xs:attribute name="maximum" type="xs:int" use="optional" default="5">
                <xs:annotation>
                    <xs:documentation>The maximum number of connections allocated by the pool.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="keep-alive" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:documentation>Controls whether the connections are kept alive by periodically querying the database. If this is true then the interval is specified by the poll-interval attribute.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="poll-interval" type="xs:int" use="optional" default="10">
                <xs:annotation>
                    <xs:documentation>The interval (in seconds) between polling requests made on idle connections. This is only used if keep-alive is true.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--Anonymous data sources-->
    <xs:element name="anonymous-data-source">
        <xs:annotation>
            <xs:documentation>
                <p>Creates an anonymous data source from a password protected one.</p>
                <p>An anonymous data source does not need to be provided with the user name and password in order to connect to the database.</p>
                <p>A password protected data source must be supplied with a username and password in order to connect to the database.</p>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:group ref="ConcreteDataSource"/>
            </xs:choice>
            <xs:attribute name="user" type="xs:string" use="required"/>
            <xs:attribute name="password" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <!--Named data source Reference-->
    <xs:element name="data-source">
        <xs:annotation>
            <xs:documentation>A reference to a named data source.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="ref" type="DataSourceName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="data-sources">
        <xs:annotation>
            <xs:documentation>Contains definitions of a number of named data sources.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="named-data-source"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
