MCS/repository/api/src/main/resources/com/volantis/mcs/repository/xml/dtd/ganymede.dtd

<!-- ==========================================================================
 ! $Header: /src/voyager/com/volantis/mcs/repository/xml/dtd/ganymede.dtd,v 1.2 2001/12/07 11:17:19 pduffin Exp $
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2001. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 05-Nov-01    Paul            VBM:2001092607 - Created from callisto.dtd
 ! 16-Nov-01    Allan           VBM:2001102504 - Added policydescriptor
 ! 21-Nov-01    Payal           VBM:2001101202 - Added Region to formatType
 !                              in  Layout elements.
 ! 05-Dec-01    Doug            VBM:2001112003 - prefixURL in the assetGroup
 !                              element is no longer required it is now only
 !                              implied.
 ! 07-Dec-01    Paul            VBM:2001120701 - Renamed from europa.dtd.
 ! ======================================================================= -->

<!-- ==========================================================================
 !              Common entities
 ! ======================================================================== -->

<!ENTITY % boolean "(true|false)">
<!ENTITY % number  "NMTOKEN">       <!-- a number, with format [0-9]+ -->

<!--========================================================================-->

<!-- ==========================================================================
 !              Root element
 ! ======================================================================== -->

<!--
  The children of this element are optional but if they are present they must
  be in alphabetical order.
-->
<!ELEMENT mariner (assetGroups?,
                   audioComponents?,
                   bundles?,
                   buttonImageComponents?,
                   chartComponents?,
                   devices?,
                   dynamicVisualComponents?,
                   imageComponents?,
                   layouts?,
                   linkComponents?,
                   policyDescriptors?,
                   rolloverImageComponents?,
                   textComponents?,
                   themes?,
                   ui?)>
<!ATTLIST mariner
  version   CDATA   #FIXED  "2.3"
>

<!-- ==========================================================================
 !              Common elements
 ! ======================================================================== -->

<!ELEMENT attribute (attribute*)>
<!ATTLIST attribute
  name  CDATA   #REQUIRED
  value CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              Asset group elements
 ! ======================================================================== -->

<!ELEMENT assetGroups (assetGroup*)>

<!ELEMENT assetGroup EMPTY>
<!ATTLIST assetGroup
  name              CDATA   #REQUIRED
  prefixURL         CDATA   #IMPLIED
  repositoryName    CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              Audio elements
 ! ======================================================================== -->

<!ELEMENT audioComponents (audioComponent*)>

<!ELEMENT audioComponent (audioAsset*)>
<!ATTLIST audioComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
>

<!ENTITY % audioEncoding "(adcpm32|basic|gsm|midi|mp3|real|windowsMedia)">

<!ELEMENT audioAsset EMPTY>
<!ATTLIST audioAsset
  encoding          %audioEncoding; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
>

<!-- ==========================================================================
 !              Bundle elements
 ! ======================================================================== -->

<!ELEMENT bundles (bundle*)>

<!ELEMENT bundle (attribute*)>
<!ATTLIST bundle
  name             CDATA       #REQUIRED
>

<!-- ==========================================================================
 !              Button image elements
 ! ======================================================================== -->

<!ELEMENT buttonImageComponents (buttonImageComponent*)>

<!ELEMENT buttonImageComponent EMPTY>
<!ATTLIST buttonImageComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  upImageComponentName      CDATA   #IMPLIED
  downImageComponentName    CDATA   #IMPLIED
  overImageComponentName    CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              Chart elements
 ! ======================================================================== -->

<!ELEMENT chartComponents (chartComponent*)>

<!ELEMENT chartComponent (chartAsset*)>
<!ATTLIST chartComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  fallbackChartComponentName    CDATA   #IMPLIED
>

<!ENTITY % chartType "(bar|column|legend|line|pie)">

<!ELEMENT chartAsset EMPTY>
<!ATTLIST chartAsset
  type          %chartType; #REQUIRED
  XTitle        CDATA       #IMPLIED
  YTitle        CDATA       #IMPLIED
  XInterval     CDATA       #IMPLIED
  YInterval     CDATA       #IMPLIED
  widthHint     %number;    #REQUIRED
  heightHint    %number;    #REQUIRED
>

<!-- ==========================================================================
 !              Device elements
 ! ======================================================================== -->

<!ELEMENT devices (device*)>

<!ELEMENT device (devicePattern*, attribute*)>
<!ATTLIST device
  name      CDATA   #REQUIRED
  fallback  CDATA   #IMPLIED
>

<!ELEMENT devicePattern EMPTY>
<!ATTLIST devicePattern
  pattern   CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Dynamic visual elements
 ! ======================================================================== -->

<!ELEMENT dynamicVisualComponents (dynamicVisualComponent*)>

<!ELEMENT dynamicVisualComponent (dynamicVisualAsset*)>
<!ATTLIST dynamicVisualComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackAudioComponentName    CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  fallbackDynVisComponentName   CDATA   #IMPLIED
>

<!ENTITY % dynamicVisualEncoding "(flash|gif|mpeg1|mpeg4|quicktime|realvideo
                                   |shock|tv|winvideo)">

<!ELEMENT dynamicVisualAsset EMPTY>
<!ATTLIST dynamicVisualAsset
  encoding          %dynamicVisualEncoding; #REQUIRED
  pixelsX           %number;                #REQUIRED
  pixelsY           %number;                #REQUIRED
  assetGroupName    CDATA                   #IMPLIED
  value             CDATA                   #IMPLIED
>

<!-- ==========================================================================
 !              Image  elements
 ! ======================================================================== -->

<!ELEMENT imageComponents (imageComponent*)>

<!ELEMENT imageComponent ((deviceImageAsset | genericImageAsset)*)>
<!ATTLIST imageComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
>

<!ENTITY % imageEncoding "(BMP|GIF|JPEG|PJPEG|PNG|WBMP)">
<!ENTITY % imageRendering "(color|monochrome)">
<!ENTITY % imageSource "(local|remote)">

<!ELEMENT deviceImageAsset EMPTY>
<!ATTLIST deviceImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  deviceName        CDATA               #REQUIRED
  localSrc          %imageSource;       #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!ELEMENT genericImageAsset EMPTY>
<!ATTLIST genericImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  widthHint         %number;            #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!-- ==========================================================================
 !              Layout elements
 ! ======================================================================== -->

<!ELEMENT layouts (layout*)>

<!ELEMENT layout (deviceLayout*)>
<!ATTLIST layout
  name  CDATA   #REQUIRED
>

<!ELEMENT deviceLayout (attribute*, format*)>
<!ATTLIST deviceLayout
  deviceName    CDATA       #REQUIRED
  version       %number;    #IMPLIED
  revision      %number;    #IMPLIED
>

<!ENTITY % formatType "(ColumnIteratorPane|DissectingPane|Form|Fragment|Region
                        |Grid|Grid.Column|Grid.Row|Pane|RowIteratorPane
                        |Segment|SegmentGrid)">

<!ELEMENT format (attribute*, subcomponent*, format*)>
<!ATTLIST format
  type  %formatType;    #REQUIRED
  index %number;        #REQUIRED
>

<!ELEMENT subcomponent (attribute*)>
<!ATTLIST subcomponent
  type  %formatType;    #REQUIRED
  index %number;        #REQUIRED
>

<!-- ==========================================================================
 !              Link elements
 ! ======================================================================== -->

<!ELEMENT linkComponents (linkComponent*)>

<!ELEMENT linkComponent (linkAsset*)>
<!ATTLIST linkComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
>

<!ELEMENT linkAsset EMPTY>
<!ATTLIST linkAsset
  deviceName        CDATA   #REQUIRED
  assetGroupName    CDATA   #IMPLIED
  value             CDATA   #IMPLIED
>
<!-- ==========================================================================
 !              PolicyDescriptor elements
 ! ======================================================================== -->

<!ELEMENT policyDescriptors (policyDescriptor*)>

<!ELEMENT policyDescriptor (policyDescriptor*)>
<!ATTLIST policyDescriptor
  name                      CDATA   #REQUIRED
  parent                    CDATA   #REQUIRED
  type                      CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Rollover image elements
 ! ======================================================================== -->

<!ELEMENT rolloverImageComponents (rolloverImageComponent*)>

<!ELEMENT rolloverImageComponent EMPTY>
<!ATTLIST rolloverImageComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  normalImageComponentName  CDATA   #IMPLIED
  overImageComponentName    CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              Text elements
 ! ======================================================================== -->

<!ELEMENT textComponents (textComponent*)>

<!ELEMENT textComponent (textAsset*)>
<!ATTLIST textComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
>

<!ENTITY % textEncoding "(formValidator|plain|voiceXMLError|voiceXMLHelp
                          |voiceXMLNuanceGrammar|voiceXMLPrompt|volantisMarkup
                          |xmlMarkup)">
<!ENTITY % textLanguage "CDATA">
<!ENTITY % textValueType "(literal|url)">

<!ELEMENT textAsset EMPTY>
<!ATTLIST textAsset
  deviceName        CDATA           #REQUIRED
  encoding          %textEncoding;  #REQUIRED
  language          %textLanguage;  #REQUIRED
  valueType         %textValueType; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
>

<!-- ==========================================================================
 !              Theme elements
 ! ======================================================================== -->

<!ELEMENT themes (theme*)>

<!ELEMENT theme (deviceTheme*)>
<!ATTLIST theme
  name  CDATA   #REQUIRED
>

<!ENTITY % styleTag  "CDATA">
<!ENTITY % styleClass  "CDATA">
<!ENTITY % styleId  "CDATA">

<!ELEMENT deviceTheme (attribute*, style*)>
<!ATTLIST deviceTheme
  deviceName    CDATA       #REQUIRED
  version       %number;    #IMPLIED
  revision      %number;    #IMPLIED
>

<!ELEMENT style (attribute*)>
<!ATTLIST style
  tag   %styleTag;          #IMPLIED
  class %styleClass;        #IMPLIED
  id    %styleId;           #IMPLIED
>

<!-- ==========================================================================
 !              User interface object elements
 ! ======================================================================== -->

<!ELEMENT ui (class*)>

<!ELEMENT class (object*)>
<!ATTLIST class
  name  CDATA   #REQUIRED
>

<!ELEMENT object (attribute*)>
<!ATTLIST object
  name  CDATA   #REQUIRED
>

<!--
 ===========================================================================
 Change History
 ===========================================================================
 $Log$

 08-Dec-04	6416/3	ianw	VBM:2004120703 New Build

 08-Dec-04	6416/1	ianw	VBM:2004120703 New Build

 ===========================================================================
-->
