trunk/MCS/architecture/api/src/main/resources/xml-schema/repository/2005/12/src/modules/css-device-theme-internal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Zoe Jones (private) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zoe Jones (Volantis) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!-- ==========================================================================
 ! $Header: 
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2003. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 12-Sep-03    Rhys            Create the file
 ! ======================================================================== -->
<!--
 !
 ! ***************************************************************************************************
 ! This file is owned by Architecture and can only be changed by a member of
 ! that group.
 !
 ! This is the internal description of the css device theme representation.
 ! ***************************************************************************************************
 !
 !-->
<?xml-stylesheet type="text/xsl" href="CreateExternalSchema.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
     ! ****************************************************************************************************************************
     ! Schema Name:  CSS Device Themes Definition Module
     ! Purpose: Define the XML representation of device themes represented as CSS.
     ! ****************************************************************************************************************************
     !-->
	<!--
     ! ************************************************************************
     !         Imports and Inclusions
     ! ************************************************************************
     !-->
	<xs:include schemaLocation="core-module-internal.xsd"/>
	<!--
     ! ************************************************************************
     !         Definitions of Elements
     ! ************************************************************************
     !-->
	<xs:element name="cssDeviceTheme">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="deviceName" type="xs:string" use="required"/>
					<xs:attribute name="importParentTheme" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
