trunk/MCS/architecture/api/src/main/resources/xml-schema/repository/2-7-1/marlin-rpdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zoe Jones (Volantis) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!-- ==========================================================================
 ! $Header: 
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2002. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 06-Sep-02    Rhys            Create the file
 ! 16-Dec-02    Paul            VBM:2002082905 - Added convertibleImageAsset.
 ! ======================================================================== -->
<!--
 !
 ! ****************************************************************************
 ! This file is owned by Architecture and can only be changed by a member of
 ! that group.
 ! ****************************************************************************
 !
 !-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!--This schema defines the XML format for the contents of replies to a Mariner repository from remote repositories -->
    <!-- =========================== Simple  Types ========================= -->
    <xs:simpleType name="linkPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="before"/>
            <xs:enumeration value="after"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sizeUnit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="percent"/>
            <xs:enumeration value="pixels"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- =========================== Attribute Groups ========================= -->
    <xs:attributeGroup name="ResponseAttributes">
        <xs:attribute name="version" type="xs:string" use="required" fixed="2.7"/>
        <xs:attribute name="rootURL" type="xs:string" use="required"/>
        <xs:attribute name="errorCode" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="0">
                        <xs:annotation>
                            <xs:documentation>The request was processed successfully</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="1">
                        <xs:annotation>
                            <xs:documentation>The request is invalid. The type of response that would be generated would not match the type of request. For example, the request was for a single policy but the response would contain multiple policies.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="2">
                        <xs:annotation>
                            <xs:documentation>The requested information could not be found.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="WidthAttributes">
        <xs:attribute name="width" type="xs:integer" use="optional" default="100"/>
        <xs:attribute name="widthUnits" type="sizeUnit" use="optional" default="percent"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="HeightAttributes">
        <xs:attribute name="height" type="xs:integer" use="optional" default="100"/>
        <xs:attribute name="heightUnits" type="sizeUnit" use="optional" default="percent"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="CoreFormatAttributes">
        <xs:attribute name="backgroundColor" type="xs:string" use="optional"/>
        <xs:attribute name="backgroundComponentName" type="xs:string" use="optional"/>
        <xs:attribute name="borderWidth" type="xs:integer" use="optional"/>
        <xs:attribute name="cellPadding" type="xs:integer" use="optional" default="0"/>
        <xs:attribute name="cellSpacing" type="xs:integer" use="optional" default="0"/>
        <xs:attribute name="verticalAlignment" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="top"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="bottom"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="horizontalAlignment" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="WidthAttributes"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PaneAttributes">
        <xs:attributeGroup ref="CoreFormatAttributes"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FixedPaneAttributes">
        <xs:attributeGroup ref="PaneAttributes"/>
        <xs:attribute name="height" type="xs:integer" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FragmentAttributes">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="linkText" type="xs:string" use="optional" default="Next">
            <xs:annotation>
                <xs:documentation>The link text can be a literal or Mariner expression, i.e. text component name inside {}</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="backLinkText" type="xs:string" use="optional" default="Previous">
            <xs:annotation>
                <xs:documentation>The link text can be a literal or Mariner expression, i.e. text component name inside {}</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="AssetAttributes">
        <xs:attribute name="assetGroupName" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="AudioAssetAttributes">
        <xs:attributeGroup ref="AssetAttributes"/>
        <xs:attribute name="encoding" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="adcpm32"/>
                    <xs:enumeration value="amr"/>
                    <xs:enumeration value="basic"/>
                    <xs:enumeration value="gsm"/>
                    <xs:enumeration value="iMelody"/>
                    <xs:enumeration value="midi"/>
                    <xs:enumeration value="mp3"/>
                    <xs:enumeration value="nokRing"/>
                    <xs:enumeration value="realAudio"/>
                    <xs:enumeration value="rmf"/>
                    <xs:enumeration value="smaf"/>
                    <xs:enumeration value="spMidi"/>
                    <xs:enumeration value="wav"/>
                    <xs:enumeration value="windowsAudio"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="ImageAssetAttributes">
        <xs:attributeGroup ref="AssetAttributes"/>
        <xs:attribute name="pixelsX" type="xs:NMTOKEN" use="required"/>
        <xs:attribute name="pixelsY" type="xs:NMTOKEN" use="required"/>
        <xs:attribute name="pixelDepth" type="xs:NMTOKEN" use="required"/>
        <xs:attribute name="rendering" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="color"/>
                    <xs:enumeration value="monochrome"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="encoding" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="bmp"/>
                    <xs:enumeration value="gif"/>
                    <xs:enumeration value="jpeg"/>
                    <xs:enumeration value="pjpeg"/>
                    <xs:enumeration value="png"/>
                    <xs:enumeration value="wbmp"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="CommonAttributes">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="CacheAttributes">
        <xs:attributeGroup ref="CommonAttributes"/>
        <xs:attribute name="cacheThisPolicy" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="timeToLive" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation>The length of time this entry is valid if cached. The value is a positive integer number of seconds.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retryFailedRetrieval" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="retryInterval" type="xs:integer" use="optional" default="0"/>
        <xs:attribute name="retryMaxCount" type="xs:integer" use="optional" default="0"/>
        <xs:attribute name="retainDuringRetry" type="xs:boolean" use="optional" default="false"/>
    </xs:attributeGroup>
    <!--=============================== Groups =============================-->
    <xs:group name="FormatContent">
        <xs:choice>
            <xs:element ref="pane"/>
            <xs:element ref="grid"/>
            <xs:element ref="fragment"/>
            <xs:element ref="form"/>
            <xs:element ref="formFragment"/>
            <xs:element ref="region"/>
            <xs:element ref="replica"/>
            <xs:element ref="emptyFormat"/>
            <xs:element ref="rowIteratorPane"/>
            <xs:element ref="columnIteratorPane"/>
            <xs:element ref="dissectingPane"/>
            <xs:element ref="spatialFormatIterator"/>
            <xs:element ref="temopralFormatIterator"/>
        </xs:choice>
    </xs:group>
    <!-- ============================== Elements ============================ -->
    <xs:element name="assetGroup">
        <xs:complexType>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="prefixURL" type="xs:string" use="optional"/>
            <xs:attribute name="repositoryName" type="xs:string" use="optional">
                <?remote ignore="true"?>
            </xs:attribute>
            <xs:attribute name="locationType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Server"/>
                        <xs:enumeration value="Device"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="assetGroupFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="assetGroup"/>
                <xs:element ref="assetGroupFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="assetGroups">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="assetGroup"/>
                <xs:element ref="assetGroupFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="audioAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AudioAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="audioComponent">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="audioAsset"/>
                <xs:element ref="deviceAudioAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackAudioComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="audioComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="audioComponent"/>
                <xs:element ref="audioComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="audioComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="audioComponent"/>
                <xs:element ref="audioComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="buttonImageComponent">
        <xs:complexType>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="upImageComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="downImageComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="overImageComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="buttonImageComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="buttonImageComponent"/>
                <xs:element ref="buttonImageComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="buttonImageComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="buttonImageComponent"/>
                <xs:element ref="buttonImageComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="chartAsset">
        <xs:complexType>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="bar"/>
                        <xs:enumeration value="column"/>
                        <xs:enumeration value="legend"/>
                        <xs:enumeration value="line"/>
                        <xs:enumeration value="pie"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="XTitle" type="xs:string" use="optional"/>
            <xs:attribute name="YTitle" type="xs:string" use="optional"/>
            <xs:attribute name="XInterval" type="xs:string" use="optional"/>
            <xs:attribute name="YInterval" type="xs:string" use="optional"/>
            <xs:attribute name="widthHint" type="xs:NMTOKEN" use="required"/>
            <xs:attribute name="heightHint" type="xs:NMTOKEN" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="chartComponent">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="chartAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackImageComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackChartComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="chartComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="chartComponent"/>
                <xs:element ref="chartComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="chartComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="chartComponent"/>
                <xs:element ref="chartComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="columnIteratorPane">
        <xs:complexType>
            <xs:attributeGroup ref="FixedPaneAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="convertibleImageAsset">
        <xs:complexType>
            <xs:attributeGroup ref="ImageAssetAttributes"/>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cssDeviceTheme">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="deviceName" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="deviceAudioAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AudioAssetAttributes"/>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="deviceImageAsset">
        <xs:complexType>
            <xs:attributeGroup ref="ImageAssetAttributes"/>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
            <xs:attribute name="localSrc" use="optional" default="remote">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="local"/>
                        <xs:enumeration value="remote"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="dissectingPane">
        <xs:complexType>
            <xs:attributeGroup ref="PaneAttributes"/>
            <xs:attribute name="nextShardLinkText" type="xs:string" use="optional" default="Next"/>
            <xs:attribute name="previousShardLinkText" type="xs:string" use="optional" default="Previous"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dynamicVisualAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AssetAttributes"/>
            <xs:attribute name="encoding" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="flash"/>
                        <xs:enumeration value="gif"/>
                        <xs:enumeration value="mpeg1"/>
                        <xs:enumeration value="mpeg4"/>
                        <xs:enumeration value="quickTime"/>
                        <xs:enumeration value="realVideo"/>
                        <xs:enumeration value="shock"/>
                        <xs:enumeration value="tv"/>
                        <xs:enumeration value="windowsVideo"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pixelsX" type="xs:NMTOKEN" use="required"/>
            <xs:attribute name="pixelsY" type="xs:NMTOKEN" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dynamicVisualComponent">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="dynamicVisualAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackAudioComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackImageComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackDynVisComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dynamicVisualComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="dynamicVisualComponent"/>
                <xs:element ref="dynamicVisualComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dynamicVisualComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="dynamicVisualComponent"/>
                <xs:element ref="dynamicVisualComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="emptyFormat"/>
    <xs:element name="form">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="FormatContent"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="formFragment">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="FormatContent"/>
            </xs:sequence>
            <xs:attributeGroup ref="FragmentAttributes"/>
            <xs:attribute name="generateReset" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="linkStyleClass" type="xs:string" use="optional"/>
            <xs:attribute name="backLinkStyleClass" type="xs:string" use="optional"/>
            <xs:attribute name="linkPosition" type="linkPosition" use="optional" default="before"/>
            <xs:attribute name="backLinkPosition" type="linkPosition" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="fragment">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="FormatContent"/>
            </xs:sequence>
            <xs:attributeGroup ref="FragmentAttributes"/>
            <xs:attribute name="generatePeerFragmentLinks" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="isDefaultFragment" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="genericImageAsset">
        <xs:complexType>
            <xs:attributeGroup ref="ImageAssetAttributes"/>
            <xs:attribute name="widthHint" type="xs:NMTOKEN" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="grid">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="gridColumns" minOccurs="0"/>
                <xs:element ref="gridRow" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="CoreFormatAttributes"/>
            <xs:attribute name="height" type="xs:integer" use="optional"/>
            <xs:attribute name="rows" type="xs:integer" use="required"/>
            <xs:attribute name="columns" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="gridColumn">
        <xs:complexType>
            <xs:attributeGroup ref="WidthAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="gridColumns">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="gridColumn" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="emptyFormat" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="gridRow">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:group ref="FormatContent"/>
            </xs:sequence>
            <xs:attributeGroup ref="HeightAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="imageComponent">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="deviceImageAsset"/>
                <xs:element ref="genericImageAsset"/>
                <xs:element ref="convertibleImageAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="fallbackImageComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="imageComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="imageComponent"/>
                <xs:element ref="imageComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="imageComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="imageComponent"/>
                <xs:element ref="imageComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="layout">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="basicDeviceLayout" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="layoutFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="layout"/>
                <xs:element ref="layoutFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="layouts">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="layout"/>
                <xs:element ref="layoutFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="linkAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AssetAttributes"/>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="linkComponent">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="linkAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="linkComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="linkComponent"/>
                <xs:element ref="linkComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="linkComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="linkComponent"/>
                <xs:element ref="linkComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="pane">
        <xs:complexType>
            <xs:attributeGroup ref="FixedPaneAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="region">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="remotePolicyResponse">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="assetGroup"/>
                <xs:element ref="audioComponent"/>
                <xs:element ref="buttonImageComponent"/>
                <xs:element ref="chartComponent"/>
                <xs:element ref="dynamicVisualComponent"/>
                <xs:element ref="imageComponent"/>
                <xs:element ref="layout"/>
                <xs:element ref="linkComponent"/>
                <xs:element ref="rolloverImageComponent"/>
                <xs:element ref="scriptComponent"/>
                <xs:element ref="textComponent"/>
                <xs:element ref="theme"/>
            </xs:choice>
            <xs:attributeGroup ref="ResponseAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="remotePolicySetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="assetGroups" minOccurs="0"/>
                <xs:element ref="audioComponents" minOccurs="0"/>
                <xs:element ref="buttonImageComponents" minOccurs="0"/>
                <xs:element ref="chartComponents" minOccurs="0"/>
                <xs:element ref="dynamicVisualComponents" minOccurs="0"/>
                <xs:element ref="imageComponents" minOccurs="0"/>
                <xs:element ref="layouts" minOccurs="0"/>
                <xs:element ref="linkComponents" minOccurs="0"/>
                <xs:element ref="rolloverImageComponents" minOccurs="0"/>
                <xs:element ref="scriptComponents" minOccurs="0"/>
                <xs:element ref="textComponents" minOccurs="0"/>
                <xs:element ref="themes" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="ResponseAttributes"/>
            <xs:attribute name="cacheURL" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="replica">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="sourceFormatName" type="xs:string" use="required"/>
            <xs:attribute name="sourceFormatType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="grid"/>
                        <xs:enumeration value="pane"/>
                        <xs:enumeration value="form"/>
                        <xs:enumeration value="region"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="rolloverImageComponent">
        <xs:complexType>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="normalImageComponentName" type="xs:string" use="optional"/>
            <xs:attribute name="overImageComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="rolloverImageComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="rolloverImageComponent"/>
                <xs:element ref="rolloverImageComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="rolloverImageComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="rolloverImageComponent"/>
                <xs:element ref="rolloverImageComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="rowIteratorPane">
        <xs:complexType>
            <xs:attributeGroup ref="FixedPaneAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scriptAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AssetAttributes"/>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
            <xs:attribute name="programmingLanguage" type="xs:string" use="required"/>
            <xs:attribute name="mimeType" type="xs:string" use="required"/>
            <xs:attribute name="valueType" type="xs:string" use="required"/>
            <xs:attribute name="characterSet" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scriptComponent">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="scriptAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scriptComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="scriptComponent"/>
                <xs:element ref="scriptComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scriptComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="scriptComponent"/>
                <xs:element ref="scriptComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="spatialFormatIterator">
        <xs:complexType>
            <xs:choice>
                <xs:group ref="FormatContent"/>
            </xs:choice>
            <xs:attributeGroup ref="CoreFormatAttributes"/>
            <xs:attribute name="height" type="xs:integer" use="optional"/>
            <xs:attribute name="rows" type="xs:integer" use="required"/>
            <xs:attribute name="columns" type="xs:integer" use="required"/>
            <xs:attribute name="variableRows" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="variableColumns" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="indexingDirection" use="optional" default="acrossDown">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="acrossDown"/>
                        <xs:enumeration value="downAcross"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="temopralFormatIterator">
        <xs:complexType>
            <xs:choice>
                <xs:group ref="FormatContent"/>
            </xs:choice>
            <xs:attribute name="presentationInterval" type="xs:string" use="optional"/>
            <xs:attribute name="cells" type="xs:integer" use="required"/>
            <xs:attribute name="variableCells" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="basicDeviceLayout">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="FormatContent"/>
            </xs:sequence>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="textAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AssetAttributes"/>
            <xs:attribute name="deviceName" type="xs:string" use="required"/>
            <xs:attribute name="encoding" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="formValidator"/>
                        <xs:enumeration value="plain"/>
                        <xs:enumeration value="voiceXMLError"/>
                        <xs:enumeration value="voiceXMLHelp"/>
                        <xs:enumeration value="voiceXMLNuanceGrammar"/>
                        <xs:enumeration value="voiceXMLPrompt"/>
                        <xs:enumeration value="volantisMarkup"/>
                        <xs:enumeration value="xmlMarkup"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="language" type="xs:string" use="optional"/>
            <xs:attribute name="valueType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="literal"/>
                        <xs:enumeration value="LITERAL"/>
                        <xs:enumeration value="url"/>
                        <xs:enumeration value="URL"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="textComponent">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="textAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="fallbackTextComponentName" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="textComponentFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="textComponent"/>
                <xs:element ref="textComponentFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="textComponents">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="textComponent"/>
                <xs:element ref="textComponentFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="theme">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="cssDeviceTheme" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="themeFolder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="theme"/>
                <xs:element ref="themeFolder"/>
            </xs:choice>
            <xs:attributeGroup ref="CommonAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="themes">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="theme"/>
                <xs:element ref="themeFolder"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
