trunk/MCS/architecture/api/src/main/resources/xml-schema/repository/2005/09/src/modules/component-description-module-internal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Zoe Jones (private) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zoe Jones (Volantis) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!-- ==========================================================================
 ! $Header: 
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2003. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 12-Sep-03    Rhys            Create the file
 ! ======================================================================== -->
<!--
 !
 ! ***************************************************************************************************
 ! This file is owned by Architecture and can only be changed by a member of
 ! that group.
 !
 ! This is the internal description of the components and assets module
 !NOTE: Comments within the xs:schema element are preserved in the external version
 ! ***************************************************************************************************
 !
 !-->
<?xml-stylesheet type="text/xsl" href="CreateExternalSchema.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!--
     ! ****************************************************************************************************************************
     ! Schema Name:  Marlin Components and Assets Definition Module
     ! Purpose: Define the XML representation of replies received by a Mariner repository from remote repositories
     ! ****************************************************************************************************************************
     !-->
    <!--
     ! ************************************************************************
     !         Imports and Inclusions
     ! ************************************************************************
     !-->
    <xs:include schemaLocation="core-module-internal.xsd"/>
    <!--
     ! ************************************************************************
     !         Definitions of Simple Types
     ! ************************************************************************
     !-->
    <xs:simpleType name="ExternalExpressionURIType">
        <xs:annotation>
            <xs:documentation>The type used for all references to assets, or directories of assets that can be expressions, i.e. template values.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <!--
     ! ************************************************************************
     !         Definitions of Attribute Groups
     ! ************************************************************************
     !-->
    <xs:attributeGroup name="SubstantiveAssetAttributes">
        <xs:attribute name="assetGroupName" type="AssetGroupReference" use="optional"/>
        <xs:attribute name="value" type="ExternalURIType" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="SubstantiveExpressionAssetAttributes">
        <xs:attribute name="assetGroupName" type="AssetGroupReference" use="optional"/>
        <xs:attribute name="value" type="ExternalExpressionURIType" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="SubstantiveLiteralAssetAttributes">
        <xs:attribute name="assetGroupName" type="AssetGroupReference" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
        <xs:attribute name="valueType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="literal"/>
                    <xs:enumeration value="url"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="AudioAssetAttributes">
        <xs:attributeGroup ref="SubstantiveAssetAttributes"/>
        <xs:attribute name="encoding" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="adpcm32"/>
                    <xs:enumeration value="amr"/>
                    <xs:enumeration value="basic"/>
                    <xs:enumeration value="gsm"/>
                    <xs:enumeration value="iMelody"/>
                    <xs:enumeration value="midi"/>
                    <xs:enumeration value="mp3"/>
                    <xs:enumeration value="nokring"/>
                    <xs:enumeration value="realAudio"/>
                    <xs:enumeration value="rmf"/>
                    <xs:enumeration value="smaf"/>
                    <xs:enumeration value="spMidi"/>
                    <xs:enumeration value="wav"/>
                    <xs:enumeration value="windowsAudio"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="SequenceAssetAttributes">
        <xs:attribute name="sequence" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>If false (the default) then this asset references a single image, otherwise it references a sequence of images. In this case the sequenceSize attribute defines the number of images within the sequence and the value for the <code>n</code>
                    <sup>th</sup> image within the sequence is created by replacing all occurrences of <code>{$index}</code> with <code>n</code>.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sequenceSize" use="optional">
            <xs:annotation>
                <xs:documentation>The size of the sequence of images. This should only be set if the sequence attribute is true, otherwise apart from validation it is ignored.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="ImageAssetAttributes">
        <xs:attributeGroup ref="SubstantiveExpressionAssetAttributes"/>
        <xs:attribute name="pixelsX" type="xs:unsignedInt" use="required"/>
        <xs:attribute name="pixelsY" type="xs:unsignedInt" use="required"/>
        <xs:attribute name="pixelDepth" type="xs:unsignedInt" use="required"/>
        <xs:attribute name="rendering" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="color"/>
                    <xs:enumeration value="monochrome"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="encoding" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="bmp"/>
                    <xs:enumeration value="gif"/>
                    <xs:enumeration value="jpeg"/>
                    <xs:enumeration value="pjpeg"/>
                    <xs:enumeration value="png"/>
                    <xs:enumeration value="tiff"/>
                    <xs:enumeration value="wbmp"/>
                    <xs:enumeration value="videotex"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="SequenceAssetAttributes"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="TargetedAssetAttributes">
        <xs:attribute name="deviceName" type="DeviceNameType" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FallbackAudioComponent">
        <xs:attribute name="fallbackAudioComponentName" type="AudioComponentReference" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FallbackChartComponent">
        <xs:attribute name="fallbackChartComponentName" type="ChartComponentReference" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FallbackImageComponent">
        <xs:attribute name="fallbackImageComponentName" type="ImageComponentReference" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FallbackTextComponent">
        <xs:attribute name="fallbackTextComponentName" type="TextComponentReference" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FallbackDynamicVisualComponent">
        <xs:attribute name="fallbackDynVisComponentName" type="DynamicVisualComponentReference" use="optional"/>
    </xs:attributeGroup>
    <!--
     ! ************************************************************************
     !         Definitions of Elements
     ! ************************************************************************
     !-->
    <xs:element name="assetGroup" substitutionGroup="policy">
        <xs:complexType>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attribute name="prefixURL" type="ExternalURIType" use="optional"/>
            <xs:attribute name="locationType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="server"/>
                        <xs:enumeration value="device"/>
                        <xs:enumeration value="context"/>
                        <xs:enumeration value="host"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="audioAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AudioAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="audioComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="nullDeviceAsset"/>
                <xs:element ref="audioAsset"/>
                <xs:element ref="deviceAudioAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackAudioComponent"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="buttonImageComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
            <xs:attribute name="upImageComponentName" type="ImageComponentReference" use="optional"/>
            <xs:attribute name="downImageComponentName" type="ImageComponentReference" use="optional"/>
            <xs:attribute name="overImageComponentName" type="ImageComponentReference" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="chartAsset">
        <xs:complexType>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="bar"/>
                        <xs:enumeration value="column"/>
                        <xs:enumeration value="legend"/>
                        <xs:enumeration value="line"/>
                        <xs:enumeration value="pie"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="XTitle" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="YTitle" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="XInterval" type="xs:unsignedInt" use="optional"/>
            <xs:attribute name="YInterval" type="xs:unsignedInt" use="optional"/>
            <xs:attribute name="widthHint" type="IntPercentageType" use="required"/>
            <xs:attribute name="heightHint" type="IntPercentageType" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="chartComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="chartAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
            <xs:attributeGroup ref="FallbackImageComponent"/>
            <xs:attributeGroup ref="FallbackChartComponent"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="convertibleImageAsset">
        <xs:complexType>
            <xs:attributeGroup ref="ImageAssetAttributes"/>
            <xs:attribute name="preserveLeft" type="xs:unsignedInt" use="optional"/>
            <xs:attribute name="preserveRight" type="xs:unsignedInt" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="deviceAudioAsset">
        <xs:complexType>
            <xs:attributeGroup ref="AudioAssetAttributes"/>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="deviceImageAsset">
        <xs:complexType>
            <xs:attributeGroup ref="ImageAssetAttributes"/>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
            <xs:attribute name="localSrc" use="optional">
                <xs:annotation>
                    <xs:documentation>Default: remote</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="local"/>
                        <xs:enumeration value="remote"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="dynamicVisualAsset">
        <xs:complexType>
            <xs:attributeGroup ref="SubstantiveAssetAttributes"/>
            <xs:attribute name="encoding" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="3gpp"/>
                        <xs:enumeration value="flash"/>
                        <xs:enumeration value="gif"/>
                        <xs:enumeration value="mpeg1"/>
                        <xs:enumeration value="mpeg4"/>
                        <xs:enumeration value="quickTime"/>
                        <xs:enumeration value="realVideo"/>
                        <xs:enumeration value="shock"/>
                        <xs:enumeration value="tv"/>
                        <xs:enumeration value="windowsVideo"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pixelsX" type="xs:unsignedInt" use="required"/>
            <xs:attribute name="pixelsY" type="xs:unsignedInt" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dynamicVisualComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="dynamicVisualAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
            <xs:attributeGroup ref="FallbackAudioComponent"/>
            <xs:attributeGroup ref="FallbackImageComponent"/>
            <xs:attributeGroup ref="FallbackDynamicVisualComponent"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="genericImageAsset">
        <xs:complexType>
            <xs:attributeGroup ref="ImageAssetAttributes"/>
            <xs:attribute name="widthHint" type="IntPercentageType" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="imageComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="nullDeviceAsset"/>
                <xs:element ref="deviceImageAsset"/>
                <xs:element ref="genericImageAsset"/>
                <xs:element ref="convertibleImageAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
            <xs:attributeGroup ref="FallbackImageComponent"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="linkAsset">
        <xs:complexType>
            <xs:attributeGroup ref="SubstantiveAssetAttributes"/>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="linkComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="nullDeviceAsset"/>
                <xs:element ref="linkAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nullDeviceAsset">
        <xs:complexType>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="rolloverImageComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
            <xs:attribute name="normalImageComponentName" type="ImageComponentReference" use="optional"/>
            <xs:attribute name="overImageComponentName" type="ImageComponentReference" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scriptAsset">
        <xs:complexType>
            <xs:attributeGroup ref="SubstantiveLiteralAssetAttributes"/>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
            <xs:attribute name="programmingLanguage" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="mimeType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                        <xs:pattern value="[A-Za-z0-9_.\-*]+/[A-Za-z0-9_.\-*]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="characterSet" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="scriptComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="nullDeviceAsset"/>
                <xs:element ref="scriptAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
        </xs:complexType>
    </xs:element>
    <!--***** Text Component / Assets *****-->
    <xs:attributeGroup name="TextAssetAttributes">
        <xs:attributeGroup ref="SubstantiveLiteralAssetAttributes"/>
        <xs:attribute name="encoding" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="formValidator"/>
                    <xs:enumeration value="plain"/>
                    <xs:enumeration value="voiceXMLError"/>
                    <xs:enumeration value="voiceXMLHelp"/>
                    <xs:enumeration value="voiceXMLNuanceGrammar"/>
                    <xs:enumeration value="voiceXMLPrompt"/>
                    <xs:enumeration value="volantisMarkup"/>
                    <xs:enumeration value="xmlMarkup"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="language" use="optional" default="-">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="deviceTextAsset">
        <xs:complexType>
            <xs:attributeGroup ref="TextAssetAttributes"/>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="genericTextAsset">
        <xs:complexType>
            <xs:attributeGroup ref="TextAssetAttributes"/>
            <xs:attribute name="length" type="xs:unsignedInt" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="textAsset">
        <xs:complexType>
            <xs:attributeGroup ref="TextAssetAttributes"/>
            <xs:attributeGroup ref="TargetedAssetAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="textComponent" substitutionGroup="policy">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="nullDeviceAsset"/>
                <xs:element ref="textAsset"/>
            </xs:choice>
            <xs:attributeGroup ref="CacheAttributes"/>
            <xs:attributeGroup ref="FallbackTextComponent"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
