trunk/MCS/architecture/api/src/main/resources/xml-schema/repository/2005/09/src/modules/core-module-internal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Paul Duffin (Volantis) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zoe Jones (Volantis) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!-- ==========================================================================
 ! $Header: 
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2002. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 12-Sep-03    Rhys            Create the file
 ! ======================================================================== -->
<!--
 !
 ! ***************************************************************************************************
 ! This file is owned by Architecture and can only be changed by a member of
 ! that group.
 !This file defines items common to many marlin schemata
 !NOTE: Comments within the xs:schema element are preserved in the external version
 ! ***************************************************************************************************
 !
 !-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--
     ! ****************************************************************************************************************************
     ! Schema Name:  Marlin Core
     ! Purpose: Define the core parts of Marlin
     ! ****************************************************************************************************************************
     !-->
    <!--
     ! ************************************************************************
     !         Definitions of Simple Types
     ! ************************************************************************
     !-->
    <xs:simpleType name="PolicyReferenceType">
        <xs:annotation>
            <xs:documentation>The type used for all references to policies.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="UnquotedPolicyRef">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RemotePolicyReferenceType">
        <xs:annotation>
            <xs:documentation>The type used for all references to policies.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="[hH][tT][tT][pP]:.*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocalAssetGroupReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mgrp"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetGroupReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalAssetGroupReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalAudioComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mauc"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AudioComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalAudioComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalButtonImageComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mbtn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ButtonImageComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalButtonImageComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalChartComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mcht"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChartComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalChartComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalDynamicVisualComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mdyv"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DynamicVisualComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalDynamicVisualComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalImageComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mimg"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImageComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalImageComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalLayoutReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mlyt"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LayoutReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalLayoutReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalLinkComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mlnk"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LinkComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalLinkComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalRolloverImageComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mrlv"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RolloverImageComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalRolloverImageComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalScriptComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mscr"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScriptComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalScriptComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalTextComponentReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mtxt"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TextComponentReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalTextComponentReference"/>
    </xs:simpleType>
    <xs:simpleType name="LocalThemeReference">
        <xs:restriction base="PolicyReferenceType">
            <xs:pattern value="/(\p{L}|\p{N}|[\-_./])*\.mthm"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ThemeReference">
        <xs:union memberTypes="RemotePolicyReferenceType LocalThemeReference"/>
    </xs:simpleType>
    <xs:simpleType name="ExternalURIType">
        <xs:annotation>
            <xs:documentation>The type used for all references to assets, or directories of assets.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeviceNameType">
        <xs:annotation>
            <xs:documentation>Defines the allowable syntax for device names.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:pattern value="[A-Za-z0-9_.\-@]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntPercentageType">
        <xs:annotation>
            <xs:documentation>An integer percentage.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedInt">
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CSSIdentToken">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a CSS 'ident' token.
The CSS2.1 specification defines the syntax of an ident) as follows:
            <![CDATA[
ident {nmstart}{nmchar}*
name {nmchar}+
nmstart [_a-zA-Z]|{nonascii}|{escape}
nonascii [^\0-\177]
unicode \\[0-9a-f]{1,6}(\r\n|[ \n\r\t\f])?
escape {unicode}|\\[ -~\200-\4177777]
nmchar [_a-zA-Z0-9-]|{nonascii}|{escape}
]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([_a-zA-Z]|[&#xA0;-&#xFFFD;]|(\\[0-9a-f]{1,6} ?)|\\[ -~&#xA0;-&#xFFFD;])([_a-zA-Z0-9\-]|[&#xA0;-&#xFFFD;]|(\\[0-9a-f]{1,6} ?)|\\[ -~&#xA0;-&#xFFFD;])*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ThemeClassNameType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a theme class name.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="CSSIdentToken"/>
    </xs:simpleType>
    <xs:simpleType name="ThemeClassNameListType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a list of theme class names.</xs:documentation>
        </xs:annotation>
        <xs:list itemType="ThemeClassNameType"/>
    </xs:simpleType>
    <xs:simpleType name="ThemeIDType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a theme id.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="CSSIdentToken"/>
    </xs:simpleType>
    <!--
     ! ************************************************************************
     !         Definitions of Attribute Groups
     ! ************************************************************************
     !-->
    <xs:attributeGroup name="CacheAttributes">
        <xs:attribute name="cacheThisPolicy" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="timeToLive" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation>The length of time this entry is valid if cached. The value is a positive integer number of seconds.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retryFailedRetrieval" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Default: false</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retryInterval" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation>Default: 0</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retryMaxCount" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation>Default: 0</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retainDuringRetry" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Default: false</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:simpleType name="QuotedComponentRef">
        <xs:annotation>
            <xs:documentation>Specifies a component to use. This must start with a { and end with a }. Within those delimiters the allowable values are the same as for a <code>UnquotedComponentRef</code>.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\{.*\}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnquotedPolicyRef">
        <xs:annotation>
            <xs:documentation>Specifies a policy to use. This can either be the name of the policy, or an expression using <code>project:getPolicy()</code> and related methods. If it is just a name then it is assumed to be within the current project.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UnquotedComponentRef">
        <xs:annotation>
            <xs:documentation>Specifies a component to use. See <code>UnquotedPolicyRef</code>.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="UnquotedPolicyRef"/>
    </xs:simpleType>
    <xs:simpleType name="StringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="QuotedComponentRefOrList">
        <xs:annotation>
            <xs:documentation>Either a literal white space separated list of strings, or a <code>QuotedComponentRef</code> that resolves to a value of the same format.<p>It is treated as a <code>QuotedComponentRef</code> if and only if it is delimited by {}, otherwise it is a literal.</p></xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="QuotedComponentRef StringList"/>
    </xs:simpleType>
    <xs:simpleType name="QuotedComponentRefOrScript">
        <xs:annotation>
            <xs:documentation>Either a literal script, or a <code>QuotedComponentRef</code> that resolves to a value of the same format.<p>It is treated as a <code>QuotedComponentRef</code> if and only if it is delimited by {}, otherwise it is a literal.</p></xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="QuotedComponentRef xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="QuotedComponentRefOrShortcut">
        <xs:annotation>
            <xs:documentation>Either a literal shortcut, or a <code>QuotedComponentRef</code> that resolves to a value of the same format.<p>It is treated as a <code>QuotedComponentRef</code> if and only if it is delimited by {}, otherwise it is a literal.</p></xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="QuotedComponentRef xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="QuotedComponentRefOrText">
        <xs:annotation>
            <xs:documentation>Either literal text, or a <code>QuotedComponentRef</code> that resolves to a value of the same format.<p>It is treated as a <code>QuotedComponentRef</code> if and only if it is delimited by {}, otherwise it is a literal.</p></xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="QuotedComponentRef xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="QuotedComponentRefOrURI">
        <xs:annotation>
            <xs:documentation>Either a literal URI, or a <code>QuotedComponentRef</code> that resolves to a value of the same format.<p>It is treated as a <code>QuotedComponentRef</code> if and only if it is delimited by {}, otherwise it is a literal.</p></xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="QuotedComponentRef xs:anyURI"/>
    </xs:simpleType>
    
    <!--
        ! ************************************************************************
        !         Definition of the top level policy element
        ! ************************************************************************
        !-->   
    <xs:element name="policy" abstract="true">
        <xs:annotation>
            <xs:documentation>The parent of all repository policies</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
