framework/MCS-Open/subsystems/architecture/xml-schema/device-update/device-merge-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<xs:schema targetNamespace="http://www.volantis.com/xmlns/device/merge-report" xmlns:dmr="http://www.volantis.com/xmlns/device/merge-report" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.volantis.com/xmlns/device/merge-report" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>This schema (and referenced schema) defines the structure of the reports created when a device repository is updated.
        
        Note: The structure defined by this schema is liable to change in future. It is the responsibility of users of either this schema, or documents that conform to this schema to update any relevant tools to ensure compatability.</xs:documentation>
    </xs:annotation>
    <!-- Begin copied from device-update-common.xsd -->
    <xs:simpleType name="RevisionIdentifier">
        <xs:annotation>
            <xs:documentation>The unique identifier of a revision</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[0-9A-Za-z_\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- End copied from device-update-common.xsd -->
    <!-- Begin copied from device-core.xsd -->
    <xs:simpleType name="DeviceNameType">
        <xs:annotation>
            <xs:documentation>Defines the allowable syntax for device names.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:pattern value="[A-Za-z0-9_.\-@]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DevicePolicyNameType">
        <xs:annotation>
            <xs:documentation>Defines the allowable syntax for a device policy name.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
            <xs:pattern value="[A-Za-z0-9_.\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="ChangeTrackingAttributes">
        <xs:annotation>
            <xs:documentation>Contains attributes that provide change tracking information for the different parts of the device repository.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="createdBy" type="UserIdentifier" use="optional">
            <xs:annotation>
                <xs:documentation>Identifies the creator of the annotated object.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="creationTime" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation>The date and time that the containing object was created. Once set this never changes unless the object is removed and recreated.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="modifiedBy" type="UserIdentifier" use="optional">
            <xs:annotation>
                <xs:documentation>Identifies the modifier of the annotated object.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="modificationTime" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation>The date and time that the containing object was last modified.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:simpleType name="UserIdentifier">
        <xs:annotation>
            <xs:documentation>Defines the allowable values for a user identifier, i.e. a string that identifies the user.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:attributeGroup name="CommonAttributes">
        <xs:attributeGroup ref="ChangeTrackingAttributes"/>
    </xs:attributeGroup>
    <xs:simpleType name="FieldNameType">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <!-- End copied from device-core.xsd -->
    <!-- Begin copied from device-identification.xsd -->
    <xs:simpleType name="RegularExpressionType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="regularExpression" type="RegularExpressionType">
        <xs:annotation>
            <xs:documentation>A regular expression.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="userAgentPattern">
        <xs:annotation>
            <xs:documentation>Contains a regular expression which is used to match against the user agent string.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="regularExpression"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="WildCardedHeaderNameType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a header name that includes wild cards (.*).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9\-_]|\.\*)+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WildCardedDeviceNameType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a device name that includes wild cards (.*).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9\-_]|\.\*)+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="headerPattern">
        <xs:annotation>
            <xs:documentation>Contains a regular expression that is only used to match against a specific header.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="regularExpression"/>
            </xs:sequence>
            <xs:attribute name="name" type="WildCardedHeaderNameType" use="required">
                <xs:annotation>
                    <xs:documentation>The name (possibly containing wild cards) of the header that this pattern can be matched against.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="baseDevice" type="WildCardedDeviceNameType" use="optional">
                <xs:annotation>
                    <xs:documentation>The base device that triggered the secondary device identification step that this pattern is used in.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PatternContainer">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="userAgentPattern"/>
            <xs:element ref="headerPattern"/>
        </xs:choice>
    </xs:complexType>
    <!-- End copied from device-identification.xsd -->
    <!-- Begin copied from device-tac-identification.xsd -->
    <xs:complexType name="TacContainer">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="number"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="number">
        <xs:annotation>
            <xs:documentation>The TAC for the device</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:long">
                <xs:pattern value="[0-9]{6}"/>
                <xs:pattern value="[0-9]{8}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- End copied from device-tac-identification.xsd -->
    <!-- Begin copied from device-policy-definitions.xsd -->
    <xs:simpleType name="CategoryNameType">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:simpleType name="CategoryPrefixType">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:group name="CCPPVocabularyGroup">
        <xs:choice>
            <xs:element ref="UAProf"/>
        </xs:choice>
    </xs:group>
    <xs:annotation>
        <xs:documentation>UAProf Specific Elements</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="UAProfAttributeName">
        <xs:annotation>
            <xs:documentation>Specifies the legal values for UAProf attribute names.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="UAProf">
        <xs:complexType>
            <xs:attribute name="attribute" type="UAProfAttributeName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation>Policy Type</xs:documentation>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation>Policy Definitions</xs:documentation>
    </xs:annotation>
    <xs:element name="type">
        <xs:complexType>
            <xs:group ref="AllPolicyTypes" minOccurs="0"/>
            <xs:attribute name="ref" type="TypeName" use="optional">
                <xs:annotation>
                    <xs:documentation>References a predefined type. If this attribute is specified then the body content must be empty.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="boolean"/>
    <xs:element name="int"/>
    <xs:element name="range">
        <xs:complexType>
            <xs:attribute name="minInclusive" type="xs:int" use="required"/>
            <xs:attribute name="maxInclusive" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="selection">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="keyword">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(\p{L}|\p{N}|[\-_. ()])+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="text"/>
    <xs:annotation>
        <xs:documentation>Predefined Types</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="TypeName">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:element name="types">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:group ref="AllPolicyTypes"/>
                        <xs:attribute name="name" type="TypeName" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation>Structured Types</xs:documentation>
    </xs:annotation>
    <xs:element name="structure">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="type">
                                <xs:complexType>
                                    <xs:group ref="SimplePolicyTypes"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="FieldNameType" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="FieldName">
            <xs:selector xpath="dmr:field"/>
            <xs:field xpath="@name"/>
        </xs:key>
    </xs:element>
    <xs:annotation>
        <xs:documentation>Composite Types</xs:documentation>
    </xs:annotation>
    <xs:element name="orderedSet">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="SimplePolicyTypes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="unorderedSet">
        <xs:complexType>
            <xs:group ref="SimplePolicyTypes"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="SimplePolicyTypes">
        <xs:choice>
            <xs:element ref="boolean"/>
            <xs:element ref="int"/>
            <xs:element ref="range"/>
            <xs:element ref="text"/>
            <xs:element ref="selection"/>
        </xs:choice>
    </xs:group>
    <xs:group name="CompositePolicyTypes">
        <xs:choice>
            <xs:element ref="orderedSet"/>
            <xs:element ref="unorderedSet"/>
            <xs:element ref="structure"/>
        </xs:choice>
    </xs:group>
    <xs:group name="AllPolicyTypes">
        <xs:choice>
            <xs:group ref="SimplePolicyTypes"/>
            <xs:group ref="CompositePolicyTypes"/>
        </xs:choice>
    </xs:group>
    <!-- End copied from device-policy-definitions.xsd -->
    <!-- Begin copied from device.xsd -->
    <xs:attributeGroup name="ValueAttribute">
        <xs:attribute name="value" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="NameAttribute">
        <xs:attribute name="name" type="DevicePolicyNameType" use="required"/>
    </xs:attributeGroup>
    <xs:complexType name="FieldType">
        <xs:choice>
            <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attributeGroup ref="ValueAttribute"/>
        <xs:attributeGroup ref="NameAttribute"/>
    </xs:complexType>
    <xs:complexType name="UnnamedValueType">
        <xs:choice>
            <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="inherit" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicates that the policy value is inherited from the parent device.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attributeGroup ref="ValueAttribute"/>
    </xs:complexType>
    <xs:complexType name="PolicyValueType">
        <xs:complexContent>
            <xs:extension base="UnnamedValueType">
                <xs:attributeGroup ref="CommonAttributes"/>
                <xs:attributeGroup ref="LabelAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="value" type="xs:string"/>
    <xs:element name="field" type="FieldType">
        <xs:unique name="UniqueFieldValue">
            <xs:selector xpath="./value"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>
    <!-- End copied from device.xsd -->
    <xs:attributeGroup name="StatusAttributes">
        <xs:annotation>
            <xs:documentation>Attributes define the status of an updatable element.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="status" use="required">
            <xs:annotation>
                <xs:documentation>The status of the containing object. If <code>new</code> then the object has been newly created during the update, otherwise if <code>updated</code> then the object has changed during the update.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:NCName">
                    <xs:enumeration value="updated"/>
                    <xs:enumeration value="created"/>
                    <xs:enumeration value="deleted"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="CustomisationAttributes">
        <xs:annotation>
            <xs:documentation>Attributes relating to customised values.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="customisationNecessary" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Set for those objects that have been customised to indicate whether the customization of the object is necessary, or whether the standard definition of the object has changed to match the customized value so that it is no longer needed. If this is true then the customization is necessary (and there will be a nested &lt;custom&gt; element), otherwise if it is set to false then it is no necessary and there will be no nested &lt;custom&gt; element. If it is not set at all then the object was not customised.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="LabelAttributes">
        <xs:annotation>
            <xs:documentation>Attributes relating to descriptive labels.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="label" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The descriptive label for this object. The value is dependent on the locale within which the report was generated.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="merge-report">
        <xs:annotation>
            <xs:documentation>Root element of merge report document.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="policy-definitions" minOccurs="0"/>
                <xs:element ref="devices" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="oldRevision" type="RevisionIdentifier" use="required">
                <xs:annotation>
                    <xs:documentation>The old revision of the device repository.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="newRevision" type="RevisionIdentifier" use="required">
                <xs:annotation>
                    <xs:documentation>The new revision of the device repository.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="policy-definitions">
        <xs:annotation>
            <xs:documentation>Root of all policy definition changes.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categories" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Contains new and updated categories definitions.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>A new or updated category definition. This does not include details of policies belonging to this categry that may have changed.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="old" type="CategoryType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The old definition of the category. This is not present for new categories, only those that have been updated.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="new" type="CategoryType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The new definition of the category.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="StatusAttributes"/>
                                    <xs:attribute name="name" type="CategoryNameType" use="required">
                                        <xs:annotation>
                                            <xs:documentation>The name of the category.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="policies" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Contains new and update policy definitions.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="policy" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>A new or updated policy definition.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="old" type="PolicyDefinitionType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The old definition of the policy. This is not present for new policies, only those that have been updated.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="new" type="PolicyDefinitionType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The new definition of the policy.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="DevicePolicyNameType" use="required"/>
                                    <xs:attributeGroup ref="StatusAttributes"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="devices">
        <xs:annotation>
            <xs:documentation>Root of all device changes.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="device" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="device">
        <xs:annotation>
            <xs:documentation>New or updated device definition</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="hierarchy"/>
                    <xs:sequence>
                        <xs:element name="old">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element ref="hierarchy"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="new">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element ref="hierarchy"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:choice>
                <xs:element ref="identification" minOccurs="0"/>
                <xs:element name="policies" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The policies that have been explicitly set on this device. This is not currently affected by changes to fallback devices.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="policy" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>New or updated policy value.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="old" type="PolicyValueType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The old standard value of the policy. This is not present for new policy values, only for updated policy values.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="new" type="PolicyValueType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The new standard value of the policy.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="custom" type="PolicyValueType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The custom value of the policy. This is only present if the value has been customised and it is different from the new value.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="DevicePolicyNameType" use="required"/>
                                    <xs:attributeGroup ref="StatusAttributes"/>
                                    <xs:attributeGroup ref="CustomisationAttributes"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="CommonAttributes"/>
            <xs:attribute name="name" type="DeviceNameType" use="required">
                <xs:annotation>
                    <xs:documentation>The name of the device.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="StatusAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="identification">
        <xs:annotation>
            <xs:documentation>The set of information used to identify the device.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Contains updated or new header identification information.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="old" type="PatternContainer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The old header identfication information. This is not present for new header information, only for updated header information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="new" type="PatternContainer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The new header identification information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="custom" type="PatternContainer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Customised header identification information. This is only present if the information has been customised and it is different from the new information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="CustomisationAttributes"/>
                        <xs:attributeGroup ref="StatusAttributes"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tac" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Contains updated or new TAC identification information.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="old" type="TacContainer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The old TAC identification information. This is not present for new TAC information, only for updated TAC information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="new" type="TacContainer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The new TAC identification information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="custom" type="TacContainer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Customised TAC identification information. This is only present if the information has been customised and it is different from the new information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="CustomisationAttributes"/>
                        <xs:attributeGroup ref="StatusAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="hierarchy">
        <xs:annotation>
            <xs:documentation>The hierarchy of the device. This contains a sequence of device elements ordered from the root of the device hierarchy down to the containing device. The sequence is empty if this is the root of the device hierarchy.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>One of the components of the path from the root of the device hierarchy to the containing device.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="name" type="DeviceNameType" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CategoryType">
        <xs:attributeGroup ref="CommonAttributes"/>
        <xs:attribute name="prefix" type="CategoryPrefixType" use="optional">
            <xs:annotation>
                <xs:documentation>The prefix to use for new policies created within this category. Changing this does not affect the names of existing policies.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="LabelAttributes"/>
    </xs:complexType>
    <xs:complexType name="PolicyDefinitionType">
        <xs:sequence minOccurs="0">
            <xs:element ref="type"/>
            <xs:group ref="CCPPVocabularyGroup" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="CommonAttributes"/>
        <xs:attribute name="ccppVocabulary" use="optional">
            <xs:annotation>
                <xs:documentation>The CC/PP Vocabulary that defines either this or an equivalent policy. If this is set to anything other than <code>none</code> then there will be a nested element giving more details.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="UAProf"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="LabelAttributes"/>
    </xs:complexType>
</xs:schema>
