tags/5.0/MCS/repository/api/src/main/resources/com/volantis/mcs/repository/xml/dtd/phobos.dtd

<!-- ==========================================================================
 ! $Header: /src/voyager/com/volantis/mcs/repository/xml/dtd/phobos.dtd,v 1.10 2002/03/08 17:01:04 pduffin Exp $
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2001. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 09-Jan-02    Allan           VBM:2001121703 - Created from ganymede.dtd.
 !                              Added pluginAttributes.
 ! 24-Jan-02    Doug            VBM:2002011406 - Added a locationType column to
 !                              asset groups
 ! 25-Jan-02    Allan           VBM:2001121703 - Renamed ui "class" element to
 !                              "group".
 | 28-Jan-02    Allan           VBM:2001121703 - Added fallbackAudio... to 
 !                              audioComponent
 ! 30-Jan-02    Mat             VBM:2002011410 - Added themeAttributes to
 !                              themes.
 ! 06-Feb-02    Paul            VBM:2001122103 - Added support for script
 !                              components and updated the default version to
 !                              2.5.1.
 ! 19-Feb-02    Allan           VBM:2002021304 - Added support for
 !                              repositoryPluginDefinition elements.
 ! 22-Feb-02    Doug            VBM:2002011405 - Added support for revision 
 !                              attributes and table.
 ! 27-Feb-02    Doug            VBM:2002011405 - Revision element now has a
 !                              name attribute.
 ! 08-Mar-02    Paul            VBM:2002030804 - Added FormFragment and
 !                              Replica.
 ! ======================================================================= -->

<!-- ==========================================================================
 !              Common entities
 ! ======================================================================== -->

<!ENTITY % boolean "(true|false)">
<!ENTITY % number  "NMTOKEN">       <!-- a number, with format [0-9]+ -->

<!--========================================================================-->

<!-- ==========================================================================
 !              Root element
 ! ======================================================================== -->

<!--
  The children of this element are optional but if they are present they must
  be in alphabetical order.
-->
<!ELEMENT mariner (assetGroups?,
                   audioComponents?,
                   bundles?,
                   buttonImageComponents?,
                   chartComponents?,
                   devices?,
                   dynamicVisualComponents?,
                   imageComponents?,
                   layouts?,
                   linkComponents?,
                   pluginAttributes?,
                   pluginDefinitions?,
                   policyDescriptors?,
                   revisions?,
                   rolloverImageComponents?,
                   scriptComponents?,
                   textComponents?,
                   themes?,
                   ui?)>
<!ATTLIST mariner
  version   CDATA   #FIXED  "2.5.1"
>

<!-- ==========================================================================
 !              Common elements
 ! ======================================================================== -->

<!ELEMENT attribute (attribute*)>
<!ATTLIST attribute
  name  CDATA   #REQUIRED
  value CDATA   #IMPLIED
  revision      %number;    #IMPLIED
>

<!-- ==========================================================================
 !              Asset group elements
 ! ======================================================================== -->

<!ELEMENT assetGroups (assetGroup*)>

<!ELEMENT assetGroup EMPTY>
<!ATTLIST assetGroup
  name              CDATA   #REQUIRED
  prefixURL         CDATA   #IMPLIED
  repositoryName    CDATA   #IMPLIED
  locationType      CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Audio elements
 ! ======================================================================== -->

<!ELEMENT audioComponents (audioComponent*)>

<!ELEMENT audioComponent (audioAsset*)>
<!ATTLIST audioComponent
  name                       CDATA   #REQUIRED
  fallbackAudioComponentName CDATA   #IMPLIED
  fallbackTextComponentName  CDATA   #IMPLIED
>

<!ENTITY % audioEncoding "(adcpm32|basic|gsm|midi|mp3|real|windowsMedia)">

<!ELEMENT audioAsset EMPTY>
<!ATTLIST audioAsset
  encoding          %audioEncoding; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
>

<!-- ==========================================================================
 !              Bundle elements
 ! ======================================================================== -->

<!ELEMENT bundles (bundle*)>

<!ELEMENT bundle (attribute*)>
<!ATTLIST bundle
  name             CDATA       #REQUIRED
>

<!-- ==========================================================================
 !              Button image elements
 ! ======================================================================== -->

<!ELEMENT buttonImageComponents (buttonImageComponent*)>

<!ELEMENT buttonImageComponent EMPTY>
<!ATTLIST buttonImageComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  upImageComponentName      CDATA   #IMPLIED
  downImageComponentName    CDATA   #IMPLIED
  overImageComponentName    CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              Chart elements
 ! ======================================================================== -->

<!ELEMENT chartComponents (chartComponent*)>

<!ELEMENT chartComponent (chartAsset*)>
<!ATTLIST chartComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  fallbackChartComponentName    CDATA   #IMPLIED
>

<!ENTITY % chartType "(bar|column|legend|line|pie)">

<!ELEMENT chartAsset EMPTY>
<!ATTLIST chartAsset
  type          %chartType; #REQUIRED
  XTitle        CDATA       #IMPLIED
  YTitle        CDATA       #IMPLIED
  XInterval     CDATA       #IMPLIED
  YInterval     CDATA       #IMPLIED
  widthHint     %number;    #REQUIRED
  heightHint    %number;    #REQUIRED
>

<!-- ==========================================================================
 !              Device elements
 ! ======================================================================== -->

<!ELEMENT devices (device*)>

<!ELEMENT device (devicePattern*, attribute*)>
<!ATTLIST device
  name      CDATA   #REQUIRED
  fallback  CDATA   #IMPLIED
>

<!ELEMENT devicePattern EMPTY>
<!ATTLIST devicePattern
  pattern   CDATA   #REQUIRED
  revision  %number;  #IMPLIED
>

<!-- ==========================================================================
 !              Dynamic visual elements
 ! ======================================================================== -->

<!ELEMENT dynamicVisualComponents (dynamicVisualComponent*)>

<!ELEMENT dynamicVisualComponent (dynamicVisualAsset*)>
<!ATTLIST dynamicVisualComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackAudioComponentName    CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  fallbackDynVisComponentName   CDATA   #IMPLIED
>

<!ENTITY % dynamicVisualEncoding "(flash|gif|mpeg1|mpeg4|quicktime|realvideo
                                   |shock|tv|winvideo)">

<!ELEMENT dynamicVisualAsset EMPTY>
<!ATTLIST dynamicVisualAsset
  encoding          %dynamicVisualEncoding; #REQUIRED
  pixelsX           %number;                #REQUIRED
  pixelsY           %number;                #REQUIRED
  assetGroupName    CDATA                   #IMPLIED
  value             CDATA                   #IMPLIED
>

<!-- ==========================================================================
 !              Image  elements
 ! ======================================================================== -->

<!ELEMENT imageComponents (imageComponent*)>

<!ELEMENT imageComponent ((deviceImageAsset | genericImageAsset)*)>
<!ATTLIST imageComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
>

<!ENTITY % imageEncoding "(BMP|GIF|JPEG|PJPEG|PNG|WBMP)">
<!ENTITY % imageRendering "(color|monochrome)">
<!ENTITY % imageSource "(local|remote)">

<!ELEMENT deviceImageAsset EMPTY>
<!ATTLIST deviceImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  deviceName        CDATA               #REQUIRED
  localSrc          %imageSource;       #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!ELEMENT genericImageAsset EMPTY>
<!ATTLIST genericImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  widthHint         %number;            #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!-- ==========================================================================
 !              Layout elements
 ! ======================================================================== -->

<!ELEMENT layouts (layout*)>

<!ELEMENT layout (deviceLayout*)>
<!ATTLIST layout
  name  CDATA   #REQUIRED
>

<!ELEMENT deviceLayout (attribute*, format*)>
<!ATTLIST deviceLayout
  deviceName    CDATA       #REQUIRED
  version       %number;    #IMPLIED
  revision      %number;    #IMPLIED
>

<!ENTITY % formatType "(ColumnIteratorPane
                        |DissectingPane
                        |Form
                        |FormFragment
                        |Fragment
                        |Region
                        |Replica
                        |Grid
                        |Grid.Column
                        |Grid.Row
                        |Pane
                        |RowIteratorPane
                        |Segment
                        |SegmentGrid)">

<!ELEMENT format (attribute*, subcomponent*, format*)>
<!ATTLIST format
  type  %formatType;    #REQUIRED
  index %number;        #REQUIRED
>

<!ELEMENT subcomponent (attribute*)>
<!ATTLIST subcomponent
  type  %formatType;    #REQUIRED
  index %number;        #REQUIRED
>

<!-- ==========================================================================
 !              Link elements
 ! ======================================================================== -->

<!ELEMENT linkComponents (linkComponent*)>

<!ELEMENT linkComponent (linkAsset*)>
<!ATTLIST linkComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
>

<!ELEMENT linkAsset EMPTY>
<!ATTLIST linkAsset
  deviceName        CDATA   #REQUIRED
  assetGroupName    CDATA   #IMPLIED
  value             CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              PluginAttribute elements
 ! ======================================================================== -->
<!ELEMENT pluginAttributes (pluginAttribute*)>

<!ELEMENT pluginAttribute (attribute*)>
<!ATTLIST pluginAttribute 
  name  CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              PolicyDescriptor elements
 ! ======================================================================== -->

<!ELEMENT policyDescriptors (policyDescriptor*)>

<!ELEMENT policyDescriptor (policyDescriptor*)>
<!ATTLIST policyDescriptor
  name                      CDATA   #REQUIRED
  parent                    CDATA   #REQUIRED
  type                      CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Revision elements
 ! ======================================================================== -->

<!ELEMENT revisions (revision*)>

<!ELEMENT revision EMPTY>
<!ATTLIST revision
  name CDATA   #REQUIRED
  revision   %number;    #REQUIRED
>

<!-- ==========================================================================
 !              Repository plugin definition object elements
 ! ======================================================================== -->

<!ELEMENT pluginDefinitions (pluginDefinition*)>

<!ELEMENT pluginDefinition (type*)>
<!ATTLIST pluginDefinition
  name  CDATA   #REQUIRED
>

<!ELEMENT type (attribute*)>
<!ATTLIST type
  value  CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Rollover image elements
 ! ======================================================================== -->

<!ELEMENT rolloverImageComponents (rolloverImageComponent*)>

<!ELEMENT rolloverImageComponent EMPTY>
<!ATTLIST rolloverImageComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  normalImageComponentName  CDATA   #IMPLIED
  overImageComponentName    CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              Script elements
 ! ======================================================================== -->

<!ELEMENT scriptComponents (scriptComponent*)>

<!ELEMENT scriptComponent (scriptAsset*)>
<!ATTLIST scriptComponent
  name      CDATA   #REQUIRED
>

<!ENTITY % scriptProgrammingLanguage "CDATA">
<!ENTITY % scriptMimeType "CDATA">
<!ENTITY % scriptCharacterSet "CDATA">
<!ENTITY % scriptValueType "(literal|url)">

<!ELEMENT scriptAsset EMPTY>
<!ATTLIST scriptAsset
  deviceName            CDATA                           #REQUIRED
  programmingLanguage   %scriptProgrammingLanguage;     #REQUIRED
  mimeType              %scriptMimeType;                #REQUIRED
  characterSet          %scriptCharacterSet;            #IMPLIED
  valueType             %scriptValueType;               #REQUIRED
  assetGroupName        CDATA                           #IMPLIED
  value                 CDATA                           #IMPLIED
>

<!-- ==========================================================================
 !              Text elements
 ! ======================================================================== -->

<!ELEMENT textComponents (textComponent*)>

<!ELEMENT textComponent (textAsset*)>
<!ATTLIST textComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
>

<!ENTITY % textEncoding "(formValidator|plain|voiceXMLError|voiceXMLHelp
                          |voiceXMLNuanceGrammar|voiceXMLPrompt|volantisMarkup
                          |xmlMarkup)">
<!ENTITY % textLanguage "CDATA">
<!ENTITY % textValueType "(literal|url)">

<!ELEMENT textAsset EMPTY>
<!ATTLIST textAsset
  deviceName        CDATA           #REQUIRED
  encoding          %textEncoding;  #REQUIRED
  language          %textLanguage;  #REQUIRED
  valueType         %textValueType; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
>

<!-- ==========================================================================
 !              Theme elements
 ! ======================================================================== -->

<!ELEMENT themes (theme*)>

<!ELEMENT theme (deviceTheme*)>
<!ATTLIST theme
  name  CDATA   #REQUIRED
>

<!ENTITY % styleTag  "CDATA">
<!ENTITY % styleClass  "CDATA">
<!ENTITY % styleId  "CDATA">

<!ELEMENT deviceTheme (attribute*, themeAttributes*, style*)>
<!ATTLIST deviceTheme
  deviceName    CDATA       #REQUIRED
  version       %number;    #IMPLIED
  revision      %number;    #IMPLIED
>

<!ELEMENT themeAttributes (attribute*)>

<!ELEMENT style (attribute*)>
<!ATTLIST style
  tag   %styleTag;          #IMPLIED
  class %styleClass;        #IMPLIED
  id    %styleId;           #IMPLIED
>

<!-- ==========================================================================
 !              User interface object elements
 ! ======================================================================== -->

<!ELEMENT ui (group*)>

<!ELEMENT group (object*)>
<!ATTLIST group
  name  CDATA   #REQUIRED
>

<!ELEMENT object (attribute*)>
<!ATTLIST object
  name  CDATA   #REQUIRED
>

<!--
 ===========================================================================
 Change History
 ===========================================================================
 $Log$

 08-Dec-04	6416/3	ianw	VBM:2004120703 New Build

 08-Dec-04	6416/1	ianw	VBM:2004120703 New Build

 ===========================================================================
-->
