trunk/MCS/architecture/api/src/main/resources/xml-schema/config/old/mariner-config.dtd

<!-- ==========================================================================
 ! $Header: /cvs/architecture/architecture/xml-schema/config/old/mariner-config.dtd,v 1.1 2003/11/28 12:13:08 pduffin Exp $
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2001. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 10-Jan-02    Allan           VBM:2001121703 - Modified local-repository to
 !                              allow an xml-definition child and have a type
 !                              attribute. Added xml-definition. Created this
 !                              change history.
 ! 11-Feb-02    Paul            VBM:2001122105 - Added script-assets.
 ! 20-Feb-02    Allan           VBM:2002022007 - Added url-cache.
 ! 06-Mar-02    Allan           VBM:2002030504 - Removed device-pattern-cache
 !                              optional attribute.
 ! 08-Mar-02    Paul            VBM:2002030607 - Added style-sheets and
 !                              associated elements.
 ! 02-Apr-02	Mat             VBM:2002022009 - Added secondary-repository
 ! 12-Jul-02    Adrian          VBM:2002070301 - Updated policy-cache element,
 !                              added chart, link, script -component-cache and
 !                              -asset-cache elements.  Added remote policy
 !                              elements.
 ! 31-Oct-02    Adrian          VBM:2002103004 - Added attribute anonymous to
 !                              ATTLIST odbc-db-definition
 ! 07-Nov-02    Adrian          VBM:2002103004 - moved anonymous to
 !                              ATTLIST web-application
 ! 19-Nov-02    Phil W-S        VBM:2002111816 - Added configuration entry
 !                              definition for the custom asset URL rewriter
 ! 21-Nov-02    Phil W-S        VBM:2002111816 - Synchronized with the internal
 !                              version of this file (which is now deprecated).
 ! 07-Nov-02    Adrian          VBM:2002103004 - Removed IMPLIED declaration
 !                              from anonymous declaration on web-application
 !                              element.
 ! 16-Dec-02    Phil W-S        VBM:2002121001 - Added configuration entry
 !                              definition for stylesheet max-age control.
 ! 09-Jan-03    Byron           VBM:2003010910 - Added configuration entry
 !                              definition for repository connection-timeout.
 ! 31-Jan-03	Byron           VBM:2003013109: - Added configuration entry
 !                              for page-packaging
 ! 04-Mar-03    Sumit           VBM:2003022717 - Added quote-value-cache-enabled
 !                              to page cache
 ! 11-Mar-03    Steve           VBM:2003021101 - Added session-proxy and
 !                              map-cookies elements.
 ! 30-Apr-03    Chris W         VBM:2003041503 - Added jsp element that
 !                              configures character reference support.
 ! ======================================================================= -->
<!--Definitions associated with the caching of policy values-->
<!ELEMENT policy-cache (asset-group-cache?, audio-component-cache?, audio-asset-cache?, button-image-component-cache?, chart-component-cache?, chart-asset-cache?, device-cache?, dynamic-visual-component-cache?, dynamic-visual-asset-cache?, external-repository-plugin-cache?, image-component-cache?,  image-asset-cache?, layout-cache?, link-component-cache?, link-asset-cache?, plugin-attribute-cache?, policy-preference-cache?, rollover-image-component-cache?, script-component-cache?, script-asset-cache?, text-component-cache?, text-asset-cache?, theme-cache?, url-cache?)>
<!ENTITY % cache-attrs "enabled CDATA #IMPLIED
  strategy CDATA #IMPLIED
  max-entries CDATA #IMPLIED
  timeout CDATA #IMPLIED">
<!ELEMENT chart-component-cache EMPTY>
<!ATTLIST chart-component-cache
    %cache-attrs; 
>
<!ELEMENT chart-asset-cache EMPTY>
<!ATTLIST chart-asset-cache
    %cache-attrs; 
>
<!ELEMENT link-component-cache EMPTY>
<!ATTLIST link-component-cache
    %cache-attrs; 
>
<!ELEMENT link-asset-cache EMPTY>
<!ATTLIST link-asset-cache
    %cache-attrs; 
>
<!ELEMENT script-component-cache EMPTY>
<!ATTLIST script-component-cache
    %cache-attrs; 
>
<!ELEMENT script-asset-cache EMPTY>
<!ATTLIST script-asset-cache
    %cache-attrs; 
>
<!--Definitions associated with licensing-->
<!ELEMENT license EMPTY>
<!ATTLIST license
    directory CDATA #REQUIRED
>
<!ELEMENT script-assets EMPTY>
<!ATTLIST script-assets
    prefix-url CDATA #IMPLIED
>
<!ELEMENT text-assets EMPTY>
<!ATTLIST text-assets
    prefix-url CDATA #IMPLIED
>
<!--Definitions associated with an external repository used for holding information about users and their preferences. This definition is associated with a Mariner plugin of type  POLICY_PREFS_REPOSITORY-->
<!ELEMENT external-preferences-repository EMPTY>
<!ATTLIST external-preferences-repository
    plugin-name CDATA #REQUIRED
>
<!--Definitions associated with the caching of button image component information in memory-->
<!ELEMENT button-image-component-cache EMPTY>
<!ATTLIST button-image-component-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of audio asset information in memory-->
<!ELEMENT audio-asset-cache EMPTY>
<!ATTLIST audio-asset-cache
    %cache-attrs; 
>
<!ELEMENT audio-assets EMPTY>
<!ATTLIST audio-assets
    prefix-url CDATA #IMPLIED
>
<!--Definitions associated with the caching of policy preference nformation in memory-->
<!ELEMENT policy-preference-cache EMPTY>
<!ATTLIST policy-preference-cache
    %cache-attrs; 
>
<!--Definitions associated with that part of Mariner's internal repository used for holding user preferences.-->
<!ELEMENT internal-preferences-repository EMPTY>
<!--Definitions associated with message text added as comments to pages generated by Mariner-->
<!ELEMENT page-messages EMPTY>
<!ATTLIST page-messages
    heading CDATA #IMPLIED
>
<!--Definitions associated with the way in which Mariner handles assets. Typically these definitions apply as defaults when no other more specific defintitions apply. These more specific definitions are managed within the Mariner repository itself.-->
<!ELEMENT assets (audio-assets?, dynamic-visual-assets?, image-assets?, script-assets?, text-assets?)>
<!--Definitions associated with the caching of text component information in memory-->
<!ELEMENT text-component-cache EMPTY>
<!ATTLIST text-component-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of audio component information in memory-->
<!ELEMENT audio-component-cache EMPTY>
<!ATTLIST audio-component-cache
    %cache-attrs; 
>
<!--
 ! Configuration relating to JSPs
 !
 ! support-required (true | false)
 !    Controls whether support for jsp pages is required. It should be set to
 !    false if the web application does not contain any Marlin JSP pages and
 !    true otherwise. Its primary use is to allow web applications that do not
 !    use JSPs to prevent unnecessary work being done during initialisation.
 !
 ! write-direct (true | false)
 !    Control whether JSP tags should write device dependent content direct to
 !    the output, or whether they should write device independent content to
 !    Mariner. This should only be set to true for older web applications that
 !    rely on being able to write direct to the output. New web applications
 !    should just use the default value of false.
 !
 ! resolve-character-references (true | false)
 !    Controls whether JSP tags attempt to resolve character references within
 !    their attributes and content before passing them onto PAPI. Web
 !    applications that do not use character references within JSPs should set
 !    this to false as it will improve performance slightly.
 !
 ! evaluate-page-after-canvas (true | false)
 !    Control whether JSPs should evaluate page content after the canvas tag. 
 !    This should only be set to true for older web applications that
 !    rely having JSP content after the canvas tag. New web applications
 !    should just use the default value of false. If this is set to true it
 !    may have adverse affects for web applications which generate binary 
 !    content such as WBXML/WMLC or packaged output.
 !-->
<!ELEMENT jsp EMPTY>
<!ATTLIST jsp
    support-required (true | false) #IMPLIED
    write-direct (true | false) #IMPLIED
    resolve-character-references (true | false) #IMPLIED
    evaluate-page-after-canvas (true | false) #IMPLIED
>
<!--Definitions associated with the generation of style sheets-->
<!ELEMENT style-sheets (external-generation?)>
<!ATTLIST style-sheets
    max-age CDATA #IMPLIED
>
<!-- The page packaging value. Default should be no packaging enabled -->
<!ELEMENT page-packaging (mime-packaging?)>
<!-- The mime-packaging value and attribute list. Default not enabled -->
<!ELEMENT mime-packaging EMPTY>
<!ATTLIST mime-packaging
    enabled (true | false) "false"
>
<!--
 ! This element controls the generation of external style sheets.  An external
 ! style sheet is one which is referred to from the page rather than included
 ! in it.
 !
 ! If this element is present then where possible external style sheets will be
 ! generated. Some protocol/device combinations may not allow this in which
 ! case the style sheet will be generated inline within the page.
 !
 ! cache (enabled|disabled)
 !     When enabled this means that the external style sheets will only be
 !     generated once. Each subsequent request for the style sheet will
 !     simply return the contents of the cached style sheet.
 !
 ! flush-on-restart (true|false)
 !     If true the contents of the base-directory are deleted when the
 !     volantis bean is created.
 !
 ! base-directory (absolute path to the directory)
 !     This must contain the absolute path to the directory into which the
 !     generated style sheets are written.
 !
 ! base-url (base url)
 !     This is the path that the browser must use in order to access the
 !     mariner servlet which serves the generated css files. This must
 !     take into account any URL mapping which may be done by servers between
 !     the browser and the application server on which the servlet is running.
 !     It must not end in /.
 !     If this is not specified then it defaults to <context path>/MarinerCSS.
 !-->
<!ELEMENT external-generation EMPTY>
<!ATTLIST external-generation
    cache (enabled | disabled) "disabled"
    flush-on-restart (true | false) "true"
    base-directory CDATA #REQUIRED
    base-url CDATA #IMPLIED
>
<!--Definitions associated with the caching of generated pages to improve overall server performance-->
<!ELEMENT page-cache EMPTY>
<!ATTLIST page-cache
    enabled CDATA #REQUIRED
    max-age CDATA #REQUIRED
    base-directory CDATA #REQUIRED
    base-url CDATA #REQUIRED
    quote-value-cache-enabled (true | false) "true"
>
<!ELEMENT web-application EMPTY>
<!ATTLIST web-application
    base-url CDATA #IMPLIED
    internal-url CDATA #IMPLIED
    page-base CDATA #IMPLIED
    xml-reader CDATA #IMPLIED
    app-server-name CDATA #IMPLIED
    jndi-provider CDATA #IMPLIED
    use-server-connection-pool CDATA #IMPLIED
    datasource CDATA #IMPLIED
    datasource-vendor CDATA #IMPLIED
    user CDATA #IMPLIED
    password CDATA #IMPLIED
    anonymous (true | false) "false"
>
<!--Definitions associated with the caching of device information in memory-->
<!ELEMENT device-cache EMPTY>
<!ATTLIST device-cache
    %cache-attrs; 
>
<!--Definitions associated with repositories that hold information about users and their preferences-->
<!ELEMENT user-repositories (external-preferences-repository? | internal-preferences-repository?)>
<!--Definitions associated with the caching of text component information in memory-->
<!ELEMENT text-asset-cache EMPTY>
<!ATTLIST text-asset-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of theme information in memory-->
<!ELEMENT theme-cache EMPTY>
<!ATTLIST theme-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of asset group information in memory-->
<!ELEMENT asset-group-cache EMPTY>
<!ATTLIST asset-group-cache
    %cache-attrs; 
>
<!--The definition of the Mariner repository to be used.-->
<!ELEMENT local-repository (odbc-db-definition?, xml-definition?)>
<!ATTLIST local-repository
    type (odbc | xml) "odbc"
>
<!--The definition of the Secondary Mariner repository to be used.-->
<!ELEMENT secondary-repository (inline-metadata?)>
<!--Definitions associated with the caching of image asset information in memory-->
<!ELEMENT image-asset-cache EMPTY>
<!ATTLIST image-asset-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of layout information in memory-->
<!ELEMENT layout-cache EMPTY>
<!ATTLIST layout-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of pluginAttribute information in memory-->
<!ELEMENT plugin-attribute-cache EMPTY>
<!ATTLIST plugin-attribute-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of external repository plugin
information in memory-->
<!ELEMENT external-repository-plugin-cache EMPTY>
<!ATTLIST external-repository-plugin-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of dynamic visual component information in memory-->
<!ELEMENT dynamic-visual-component-cache EMPTY>
<!ATTLIST dynamic-visual-component-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of url information in memory-->
<!ELEMENT url-cache EMPTY>
<!ATTLIST url-cache
    %cache-attrs; 
>
<!ELEMENT dynamic-visual-assets EMPTY>
<!ATTLIST dynamic-visual-assets
    prefix-url CDATA #IMPLIED
>
<!--Definitions associated with Scripts generated by Mariner for those devices that support them.-->
<!ELEMENT scripts EMPTY>
<!ATTLIST scripts
    base CDATA #IMPLIED
>
<!--Definitions associated with Mode Sets generated by Mariner for those devices that support them.-->
<!ELEMENT modesets EMPTY>
<!ATTLIST modesets
    base CDATA #IMPLIED
>
<!--Definitions associated with Chart Images generated by Mariner for those devices that support them.-->
<!ELEMENT chartimages EMPTY>
<!ATTLIST chartimages
    base CDATA #IMPLIED
>
<!-- 
 ! The debug "enabled" attribute is deprecated and does nothing. Previously it
 ! controlled debug logging but this is now controlled via mariner-log4j.xml.
 !-->
<!ELEMENT debug EMPTY>
<!ATTLIST debug
    enabled CDATA #IMPLIED
    comments CDATA #IMPLIED
    logPageOutput CDATA #IMPLIED
>
<!--
 ! The url-rewriter attribute defines the name of a custom Java class that
 ! implements the com.volantis.mcs.integration.URLRewriter interface.
 !
 ! The asset-url-rewriter attribute defines the name of a custom Java class
 ! that implements the com.volantis.mcs.integration.AssetURLRewriter interface.
 !
 ! The asset-transcoder attribute defines the name of a custom Java class that
 ! implements the com.volantis.mcs.integration.PluggableAssetTranscoder
 ! interface.
 !-->
<!ELEMENT plugins EMPTY>
<!ATTLIST plugins
    url-rewriter CDATA #IMPLIED
    asset-url-rewriter CDATA #IMPLIED
    asset-transcoder CDATA #IMPLIED
>
<!--Definitions associated with the caching of rollover image component information in memory-->
<!ELEMENT rollover-image-component-cache EMPTY>
<!ATTLIST rollover-image-component-cache
    %cache-attrs; 
>
<!--Pipeline configuration element definition -->
<!ELEMENT pipeline-configuration (caching-operation?, sql-driver?, web-services-driver?, web-driver?, transform?)>
<!--Transform element definition. If compile is set to true, we compile
    transform and transformation elements whose compilable attribute is
    set to true. If compile is set to false, no attempt is made to
    compile transform and transformation elements irrespective of the
    value of their compilable attributes. -->
<!ELEMENT transform EMPTY>
<!ATTLIST transform
    compile (true | false) "false"
>
<!-- The caching operation value. -->
<!ELEMENT caching-operation (cache*)>
<!-- The cache value attribute list. -->
<!ELEMENT cache EMPTY>
<!ATTLIST cache
    name CDATA #REQUIRED
    strategy (least-recently-used) "least-recently-used"
    maxEntries CDATA #REQUIRED
>
<!--SQL connector element definition -->
<!ELEMENT sql-driver (jndi-configuration?, named-data-source*)>
<!-- The jndi-configuration attribute list -->
<!ELEMENT jndi-configuration (initial-context?)>
<!-- The initial-context attribute list -->
<!ELEMENT initial-context (parameter?)>
<!ATTLIST initial-context
    name CDATA #REQUIRED
>
<!-- The named-data-source attribute list -->
<!ELEMENT named-data-source (jndi-data-source? | mariner-database? | jdbc-driver? | connection-pool?)>
<!ATTLIST named-data-source
    name CDATA #REQUIRED
>
<!-- The jndi-data-source attribute list -->
<!ELEMENT jndi-data-source EMPTY>
<!ATTLIST jndi-data-source
    name CDATA #REQUIRED
    initial-context CDATA #REQUIRED
>
<!-- The mariner-database attribute list -->
<!--  -->
<!ELEMENT mariner-database EMPTY>
<!ATTLIST mariner-database
    vendor (oracle | postgres | odbc | db2 | mssql-datad | mssql-jsql) #IMPLIED
    source CDATA #REQUIRED
    host CDATA #REQUIRED
    port CDATA #REQUIRED
    user CDATA #REQUIRED
    password CDATA #REQUIRED
>
<!-- The jdbc driver attribute list -->
<!ELEMENT jdbc-driver (parameter?)>
<!-- driver-class is optional -->
<!ATTLIST jdbc-driver
    driver-class CDATA #IMPLIED
    database-url CDATA #REQUIRED
    user CDATA #IMPLIED
    password CDATA #IMPLIED
>
<!-- The connection-pool element defintion -->
<!ELEMENT connection-pool (mariner-database? | jdbc-driver?)>
<!-- The parameter value attribute list. -->
<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
    name CDATA #REQUIRED
    value CDATA #REQUIRED
>
<!-- Specifies alternative locations for WSDL documents. -->
<!ELEMENT web-services-driver (wsdl-catalog?)>
<!-- Specifies alternative locations for WSDL documents. -->
<!ELEMENT wsdl-catalog (wsdl-entry?)>
<!-- Specifies alternative locations for a WSDL document identified by the uri attribute. -->
<!ELEMENT wsdl-entry (class-resource?, servlet-resource?, uri-resource?)>
<!ATTLIST wsdl-entry
    uri CDATA #REQUIRED
>
<!-- Identifies a resource that can be found on the class path. -->
<!ELEMENT class-resource EMPTY>
<!ATTLIST class-resource
    path CDATA #REQUIRED
>
<!-- Identifies a resource that can be found within a servlet context. -->
<!ELEMENT servlet-resource EMPTY>
<!ATTLIST servlet-resource
    path CDATA #REQUIRED
>
<!-- Identifies a resource by an arbitrary uri.
     Note: In order for this resource to be retrieved the protocol must
     be supported by the JVM. -->
<!ELEMENT uri-resource EMPTY>
<!ATTLIST uri-resource
    uri CDATA #REQUIRED
>
<!-- Specifies the web driver configuration. -->
<!ELEMENT web-driver (script?, proxy?)>
<!-- Identifies the proxy configuration element -->
<!ELEMENT proxy EMPTY>
<!ATTLIST proxy
    id CDATA #REQUIRED
    port CDATA #REQUIRED
    host CDATA #IMPLIED
>
<!-- Identifies the script configuration element -->
<!ELEMENT script (module+)>
<!-- Identifies the module configuration element -->
<!ELEMENT module (filter+)>
<!ATTLIST module
    id CDATA #REQUIRED
>
<!-- Identifies the filter configuration element -->
<!ELEMENT filter EMPTY>
<!ATTLIST filter
    content-type CDATA #REQUIRED
    class CDATA #REQUIRED
>
<!--Definitions associated with the way in which Mariner logs its internal operations during execution-->
<!ELEMENT mariner-log EMPTY>
<!ATTLIST mariner-log
    base-directory CDATA #IMPLIED
    enabled CDATA #IMPLIED
    detail-level CDATA #IMPLIED
    file-count CDATA #IMPLIED
    max-file-size CDATA #IMPLIED
    thread-wait-time CDATA #IMPLIED
    filter-definition CDATA #IMPLIED
>
<!-- Definition which controls how log4j is configured. -->
<!ELEMENT log4j EMPTY>
<!ATTLIST log4j
    xml-configuration-file CDATA #IMPLIED
>
<!--Definitions associated with the Mariner agent-->
<!ELEMENT mariner-agent EMPTY>
<!ATTLIST mariner-agent
    enabled CDATA #IMPLIED
    port CDATA #IMPLIED
    password CDATA #IMPLIED
>
<!--The definition of a repository derived from an xml document. -->
<!ELEMENT xml-definition EMPTY>
<!ATTLIST xml-definition
    file-name CDATA #REQUIRED
>
<!--The definition of a relational database accessed via ODBC.-->
<!ELEMENT odbc-db-definition EMPTY>
<!-- Not implemented yet... so stick with the old one -->
<!ATTLIST odbc-db-definition
    user CDATA #REQUIRED
    password CDATA #REQUIRED
    vendor CDATA #REQUIRED
    source CDATA #REQUIRED
    host CDATA #REQUIRED
    port CDATA #REQUIRED
    dbpoolmax CDATA #IMPLIED
    keep-connections-alive CDATA #IMPLIED
    connection-poll-interval CDATA #IMPLIED
>
<!--The definition of a relational database accessed via ODBC.-->
<!ELEMENT inline-metadata EMPTY>
<!ATTLIST inline-metadata
    enabled (true | false) "false"
>
<!--Definitions associated with the caching of dynamic visual asset information in memory-->
<!ELEMENT dynamic-visual-asset-cache EMPTY>
<!ATTLIST dynamic-visual-asset-cache
    %cache-attrs; 
>
<!--Definitions associated with the caching of image component information in memory-->
<!ELEMENT image-component-cache EMPTY>
<!ATTLIST image-component-cache
    %cache-attrs; 
>
<!--Definitions associated with the way in which Mariner handles image assets-->
<!ELEMENT image-assets EMPTY>
<!ATTLIST image-assets
    prefix-url CDATA #IMPLIED
>
<!--(c) Volantis Systems Ltd 2000. -->
<!-- Licensing has been removed so license tag is now optional for backwards compatibility -->
<!ELEMENT mariner-config (license?, local-repository, mariner-log?, plugins?, secondary-repository?,  page-messages?, policy-cache?, jsp?,style-sheets?, page-cache?, chartimages?, modesets?, scripts?, assets?, log4j?, mariner-agent?,  remote-policies?, mcs-plugins?,  application-plugins?, user-repositories?, user-repositories?, web-application?, page-packaging?, debug?, pipeline-configuration?)>
<!--Definitions associated with the caching of remote policy values-->
<!ELEMENT remote-policies (remote-policy-caches?, remote-policy-quotas?)>
<!-- The remote repository connection timeout which is optional and default value is 15 seconds. The units are seconds -->
<!ATTLIST remote-policies
    connection-timeout CDATA #IMPLIED
>
<!ENTITY % remote-cache-attrs "allowRetainDuringRetry CDATA #IMPLIED
allowRetryFailedRetrieval CDATA #IMPLIED
cachePolicies CDATA #IMPLIED
defaultRetainDuringRetry CDATA #IMPLIED
defaultRetryFailedRetrieval CDATA #IMPLIED
defaultRetryInterval CDATA #IMPLIED
defaultRetryMaxCount CDATA #IMPLIED
defaultTimeToLive CDATA #IMPLIED
maxCacheSize CDATA #IMPLIED
maxRetryMaxCount CDATA #IMPLIED
maxTimeToLive CDATA #IMPLIED
minRetryInterval CDATA #IMPLIED
minimumTimeToLiveForSharing CDATA #IMPLIED
usePersistentCache CDATA #IMPLIED">
<!ELEMENT remote-policy-caches (remote-asset-group-cache?, remote-audio-policy-cache?, remote-button-image-policy-cache?, remote-chart-policy-cache?, remote-dynamic-visual-policy-cache?, remote-image-policy-cache?, remote-layout-policy-cache?, remote-link-policy-cache?, remote-rollover-image-policy-cache?, remote-script-policy-cache?, remote-text-policy-cache?, remote-theme-policy-cache?)>
<!ATTLIST remote-policy-caches
    %remote-cache-attrs; 
>
<!ELEMENT remote-asset-group-cache EMPTY>
<!ATTLIST remote-asset-group-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-audio-policy-cache EMPTY>
<!ATTLIST remote-audio-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-button-image-policy-cache EMPTY>
<!ATTLIST remote-button-image-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-chart-policy-cache EMPTY>
<!ATTLIST remote-chart-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-dynamic-visual-policy-cache EMPTY>
<!ATTLIST remote-dynamic-visual-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-image-policy-cache EMPTY>
<!ATTLIST remote-image-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-layout-policy-cache EMPTY>
<!ATTLIST remote-layout-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-link-policy-cache EMPTY>
<!ATTLIST remote-link-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-rollover-image-policy-cache EMPTY>
<!ATTLIST remote-rollover-image-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-script-policy-cache EMPTY>
<!ATTLIST remote-script-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-text-policy-cache EMPTY>
<!ATTLIST remote-text-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT remote-theme-policy-cache EMPTY>
<!ATTLIST remote-theme-policy-cache
    %remote-cache-attrs; 
>
<!ELEMENT session-proxy (map-cookies?)>
<!ELEMENT map-cookies EMPTY>
<!ATTLIST map-cookies
    enabled (true | false) "false"
>
<!ELEMENT remote-policy-quotas (remote-all-policies-quotas?, remote-asset-group-quotas?, remote-audio-policy-quotas?, remote-button-image-policy-quotas?, remote-chart-policy-quotas?, remote-dynamic-visual-policy-quotas?, remote-image-policy-quotas?, remote-layout-policy-quotas?, remote-link-policy-quotas?, remote-rollover-image-policy-quotas?, remote-script-policy-quotas?, remote-text-policy-quotas?, remote-theme-policy-quotas?)>
<!ELEMENT remote-all-policies-quotas EMPTY>
<!ELEMENT remote-asset-group-quotas EMPTY>
<!ELEMENT remote-audio-policy-quotas EMPTY>
<!ELEMENT remote-button-image-policy-quotas EMPTY>
<!ELEMENT remote-chart-policy-quotas EMPTY>
<!ELEMENT remote-dynamic-visual-policy-quotas EMPTY>
<!ELEMENT remote-image-policy-quotas EMPTY>
<!ELEMENT remote-layout-policy-quotas EMPTY>
<!ELEMENT remote-link-policy-quotas EMPTY>
<!ELEMENT remote-rollover-image-policy-quotas EMPTY>
<!ELEMENT remote-script-policy-quotas EMPTY>
<!ELEMENT remote-text-policy-quotas EMPTY>
<!ELEMENT remote-theme-policy-quotas EMPTY>
<!ELEMENT mcs-plugins (markup-plugin?)>
<!ELEMENT markup-plugin (initialize)>
<!ATTLIST markup-plugin
    name CDATA #REQUIRED
    class CDATA #REQUIRED
    scope (application | session | canvas) "canvas"
>
<!ELEMENT initialize (argument?)>
<!ELEMENT argument EMPTY>
<!ATTLIST argument
    name CDATA #REQUIRED
    value CDATA #REQUIRED
>
<!ELEMENT application-plugins (mps?)>
<!ELEMENT mps (channels?)>
<!ATTLIST mps
    internal-base-url CDATA #IMPLIED
    message-recipient-info CDATA #IMPLIED
>

<!ELEMENT channels (channel*)>
<!ELEMENT channel EMPTY>
<!ATTLIST channel
    class CDATA #IMPLIED
    host CDATA #IMPLIED
    auth CDATA #IMPLIED
    user CDATA #IMPLIED
    password CDATA #IMPLIED
>

<!--
 ===========================================================================
 Change History
 ===========================================================================
 $Log: mariner-config.dtd,v $
 Revision 1.1  2003/11/28 12:13:08  pduffin
 Added configuration schema



 25-Jun-03	492/3	byron	VBM:2003061808 Allow MCS to configure the pipeline WebService Connector

 25-Jun-03	544/3	geoff	VBM:2003061007 Allow JSPs to create binary output

 25-Jun-03	540/1	geoff	VBM:2003061709 remove mariner config debug enabled attribute

 24-Jun-03	497/2	byron	VBM:2003062302 Issues with Database configuring and sql connector

 ===========================================================================
-->
