trunk/MCS/common/api/src/main/resources/com/volantis/mcs/dtd/2-7-1/marlin-rpdm.dtd

<!--====================== Generated DTD =================================-->
<!-- This DTD was automatically generated from the schema build/architecture/xml-schema/marlin/marlin-rpdm.xsd -->
<!-- Do NOT edit it manually. -->
<!--====================== Generated DTD =================================-->
<!--================ Character mnemonic entities =========================-->
<!ENTITY % HTMLlat1 PUBLIC
   "-//W3C//ENTITIES Latin 1 for XHTML//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent">
%HTMLlat1;
<!ENTITY % HTMLsymbol PUBLIC
   "-//W3C//ENTITIES Symbols for XHTML//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml-symbol.ent">
%HTMLsymbol;
<!ENTITY % HTMLspecial PUBLIC
   "-//W3C//ENTITIES Special for XHTML//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml-special.ent">
%HTMLspecial;
<!ENTITY % ResponseAttributes "
	version CDATA #REQUIRED 
	rootURL CDATA #REQUIRED 
	errorCode CDATA #REQUIRED ">
<!ENTITY % WidthAttributes "
	width CDATA #IMPLIED 
	widthUnits CDATA #IMPLIED ">
<!ENTITY % HeightAttributes "
	height CDATA #IMPLIED 
	heightUnits CDATA #IMPLIED ">
<!ENTITY % CoreFormatAttributes "
	backgroundColor CDATA #IMPLIED 
	backgroundComponentName CDATA #IMPLIED 
	borderWidth CDATA #IMPLIED 
	cellPadding CDATA #IMPLIED 
	cellSpacing CDATA #IMPLIED 
	verticalAlignment CDATA #IMPLIED 
	horizontalAlignment CDATA #IMPLIED 
	%WidthAttributes; ">
<!ENTITY % PaneAttributes "
	%CoreFormatAttributes; 
	name CDATA #REQUIRED ">
<!ENTITY % FixedPaneAttributes "
	%PaneAttributes; 
	height CDATA #IMPLIED ">
<!ENTITY % FragmentAttributes "
	name CDATA #REQUIRED 
	linkText CDATA #IMPLIED 
	backLinkText CDATA #IMPLIED ">
<!ENTITY % AssetAttributes "
	assetGroupName CDATA #IMPLIED 
	value CDATA #REQUIRED ">
<!ENTITY % AudioAssetAttributes "
	%AssetAttributes; 
	encoding CDATA #REQUIRED ">
<!ENTITY % ImageAssetAttributes "
	%AssetAttributes; 
	pixelsX CDATA #REQUIRED 
	pixelsY CDATA #REQUIRED 
	pixelDepth CDATA #IMPLIED 
	rendering CDATA #REQUIRED 
	encoding CDATA #REQUIRED ">
<!ENTITY % CommonAttributes "
	name CDATA #REQUIRED ">
<!ENTITY % CacheAttributes "
	%CommonAttributes; 
	cacheThisPolicy CDATA #IMPLIED 
	timeToLive CDATA #IMPLIED 
	retryFailedRetrieval CDATA #IMPLIED 
	retryInterval CDATA #IMPLIED 
	retryMaxCount CDATA #IMPLIED 
	retainDuringRetry CDATA #IMPLIED ">
<!ENTITY % FormatContent "pane | grid | fragment | form | formFragment | region | replica | emptyFormat | rowIteratorPane | columnIteratorPane | dissectingPane | spatialFormatIterator | temopralFormatIterator">
<!ELEMENT assetGroup EMPTY>
<!ATTLIST assetGroup 
	%CacheAttributes; 
	prefixURL CDATA #IMPLIED 
	repositoryName CDATA #IMPLIED 
	locationType CDATA #REQUIRED >
<!ELEMENT assetGroupFolder ((assetGroup | assetGroupFolder)*)>
<!ATTLIST assetGroupFolder 
	%CommonAttributes; >
<!ELEMENT assetGroups ((assetGroup | assetGroupFolder)*)>
<!ELEMENT audioAsset EMPTY>
<!ATTLIST audioAsset 
	%AudioAssetAttributes; >
<!ELEMENT audioComponent ((audioAsset | deviceAudioAsset)*)>
<!ATTLIST audioComponent 
	%CacheAttributes; 
	fallbackAudioComponentName CDATA #IMPLIED 
	fallbackTextComponentName CDATA #IMPLIED >
<!ELEMENT audioComponentFolder ((audioComponent | audioComponentFolder)*)>
<!ATTLIST audioComponentFolder 
	%CommonAttributes; >
<!ELEMENT audioComponents ((audioComponent | audioComponentFolder)*)>
<!ELEMENT buttonImageComponent EMPTY>
<!ATTLIST buttonImageComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED 
	upImageComponentName CDATA #IMPLIED 
	downImageComponentName CDATA #IMPLIED 
	overImageComponentName CDATA #IMPLIED >
<!ELEMENT buttonImageComponentFolder ((buttonImageComponent | buttonImageComponentFolder)*)>
<!ATTLIST buttonImageComponentFolder 
	%CommonAttributes; >
<!ELEMENT buttonImageComponents ((buttonImageComponent | buttonImageComponentFolder)*)>
<!ELEMENT chartAsset EMPTY>
<!ATTLIST chartAsset 
	type CDATA #REQUIRED 
	XTitle CDATA #IMPLIED 
	YTitle CDATA #IMPLIED 
	XInterval CDATA #IMPLIED 
	YInterval CDATA #IMPLIED 
	widthHint CDATA #REQUIRED 
	heightHint CDATA #REQUIRED >
<!ELEMENT chartComponent (chartAsset)>
<!ATTLIST chartComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED 
	fallbackImageComponentName CDATA #IMPLIED 
	fallbackChartComponentName CDATA #IMPLIED >
<!ELEMENT chartComponentFolder ((chartComponent | chartComponentFolder)*)>
<!ATTLIST chartComponentFolder 
	%CommonAttributes; >
<!ELEMENT chartComponents ((chartComponent | chartComponentFolder)*)>
<!ELEMENT columnIteratorPane EMPTY>
<!ATTLIST columnIteratorPane 
	name CDATA #IMPLIED 
	%FixedPaneAttributes; >
<!ELEMENT convertibleImageAsset EMPTY>
<!ATTLIST convertibleImageAsset 
	%ImageAssetAttributes; 
	deviceName CDATA #REQUIRED >
<!ELEMENT cssDeviceTheme (#PCDATA)>
<!ATTLIST cssDeviceTheme 
	deviceName CDATA #REQUIRED >
<!ELEMENT deviceAudioAsset EMPTY>
<!ATTLIST deviceAudioAsset 
	%AudioAssetAttributes; 
	deviceName CDATA #REQUIRED >
<!ELEMENT deviceImageAsset EMPTY>
<!ATTLIST deviceImageAsset 
	%ImageAssetAttributes; 
	deviceName CDATA #REQUIRED 
	localSrc CDATA #IMPLIED >
<!ELEMENT dissectingPane EMPTY>
<!ATTLIST dissectingPane 
	%PaneAttributes; 
	nextShardLinkText CDATA #IMPLIED 
	previousShardLinkText CDATA #IMPLIED >
<!ELEMENT dynamicVisualAsset EMPTY>
<!ATTLIST dynamicVisualAsset 
	%AssetAttributes; 
	encoding CDATA #REQUIRED 
	pixelsX CDATA #REQUIRED 
	pixelsY CDATA #REQUIRED >
<!ELEMENT dynamicVisualComponent ((dynamicVisualAsset)*)>
<!ATTLIST dynamicVisualComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED 
	fallbackAudioComponentName CDATA #IMPLIED 
	fallbackImageComponentName CDATA #IMPLIED 
	fallbackDynVisComponentName CDATA #IMPLIED >
<!ELEMENT dynamicVisualComponentFolder ((dynamicVisualComponent | dynamicVisualComponentFolder)*)>
<!ATTLIST dynamicVisualComponentFolder 
	%CommonAttributes; >
<!ELEMENT dynamicVisualComponents ((dynamicVisualComponent | dynamicVisualComponentFolder)*)>
<!ELEMENT emptyFormat EMPTY>
<!ELEMENT form (((%FormatContent;))?)>
<!ATTLIST form 
	name CDATA #REQUIRED >
<!ELEMENT formFragment (((%FormatContent;))?)>
<!ATTLIST formFragment 
	%FragmentAttributes; 
	generateReset CDATA #IMPLIED 
	linkStyleClass CDATA #IMPLIED 
	backLinkStyleClass CDATA #IMPLIED 
	linkPosition CDATA #IMPLIED 
	backLinkPosition CDATA #IMPLIED >
<!ELEMENT fragment (((%FormatContent;))?)>
<!ATTLIST fragment 
	%FragmentAttributes; 
	generatePeerFragmentLinks CDATA #IMPLIED 
	isDefaultFragment CDATA #IMPLIED >
<!ELEMENT genericImageAsset EMPTY>
<!ATTLIST genericImageAsset 
	%ImageAssetAttributes; 
	widthHint CDATA #REQUIRED >
<!ELEMENT grid ((gridColumns)? , (gridRow)*)>
<!ATTLIST grid 
	name CDATA #IMPLIED 
	%CoreFormatAttributes; 
	height CDATA #IMPLIED 
	rows CDATA #REQUIRED 
	columns CDATA #REQUIRED >
<!ELEMENT gridColumn EMPTY>
<!ATTLIST gridColumn 
	%WidthAttributes; >
<!ELEMENT gridColumns ((gridColumn)* | (emptyFormat)*)>
<!ELEMENT gridRow (((%FormatContent;))+)>
<!ATTLIST gridRow 
	%HeightAttributes; >
<!ELEMENT imageComponent ((deviceImageAsset | genericImageAsset | convertibleImageAsset)*)>
<!ATTLIST imageComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED 
	fallbackImageComponentName CDATA #IMPLIED >
<!ELEMENT imageComponentFolder ((imageComponent | imageComponentFolder)*)>
<!ATTLIST imageComponentFolder 
	%CommonAttributes; >
<!ELEMENT imageComponents ((imageComponent | imageComponentFolder)*)>
<!ELEMENT layout ((basicDeviceLayout)*)>
<!ATTLIST layout 
	%CacheAttributes; >
<!ELEMENT layoutFolder ((layout | layoutFolder)*)>
<!ATTLIST layoutFolder 
	%CommonAttributes; >
<!ELEMENT layouts ((layout | layoutFolder)*)>
<!ELEMENT linkAsset EMPTY>
<!ATTLIST linkAsset 
	%AssetAttributes; 
	deviceName CDATA #REQUIRED >
<!ELEMENT linkComponent ((linkAsset)*)>
<!ATTLIST linkComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED >
<!ELEMENT linkComponentFolder ((linkComponent | linkComponentFolder)*)>
<!ATTLIST linkComponentFolder 
	%CommonAttributes; >
<!ELEMENT linkComponents ((linkComponent | linkComponentFolder)*)>
<!ELEMENT pane EMPTY>
<!ATTLIST pane 
	name CDATA #IMPLIED 
	%FixedPaneAttributes; >
<!ELEMENT region EMPTY>
<!ATTLIST region 
	name CDATA #REQUIRED >
<!ELEMENT remotePolicyResponse (assetGroup | audioComponent | buttonImageComponent | chartComponent | dynamicVisualComponent | imageComponent | layout | linkComponent | rolloverImageComponent | scriptComponent | textComponent | theme)>
<!ATTLIST remotePolicyResponse 
	%ResponseAttributes; >
<!ELEMENT remotePolicySetResponse ((assetGroups)? , (audioComponents)? , (buttonImageComponents)? , (chartComponents)? , (dynamicVisualComponents)? , (imageComponents)? , (layouts)? , (linkComponents)? , (rolloverImageComponents)? , (scriptComponents)? , (textComponents)? , (themes)?)>
<!ATTLIST remotePolicySetResponse 
	%ResponseAttributes; 
	cacheURL CDATA #IMPLIED >
<!ELEMENT replica EMPTY>
<!ATTLIST replica 
	name CDATA #REQUIRED 
	sourceFormatName CDATA #REQUIRED 
	sourceFormatType CDATA #REQUIRED >
<!ELEMENT rolloverImageComponent EMPTY>
<!ATTLIST rolloverImageComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED 
	normalImageComponentName CDATA #IMPLIED 
	overImageComponentName CDATA #IMPLIED >
<!ELEMENT rolloverImageComponentFolder ((rolloverImageComponent | rolloverImageComponentFolder)*)>
<!ATTLIST rolloverImageComponentFolder 
	%CommonAttributes; >
<!ELEMENT rolloverImageComponents ((rolloverImageComponent | rolloverImageComponentFolder)*)>
<!ELEMENT rowIteratorPane EMPTY>
<!ATTLIST rowIteratorPane 
	name CDATA #IMPLIED 
	%FixedPaneAttributes; >
<!ELEMENT scriptAsset EMPTY>
<!ATTLIST scriptAsset 
	%AssetAttributes; 
	deviceName CDATA #REQUIRED 
	programmingLanguage CDATA #REQUIRED 
	mimeType CDATA #REQUIRED 
	valueType CDATA #REQUIRED 
	characterSet CDATA #IMPLIED >
<!ELEMENT scriptComponent ((scriptAsset)*)>
<!ATTLIST scriptComponent 
	%CacheAttributes; >
<!ELEMENT scriptComponentFolder ((scriptComponent | scriptComponentFolder)*)>
<!ATTLIST scriptComponentFolder 
	%CommonAttributes; >
<!ELEMENT scriptComponents ((scriptComponent | scriptComponentFolder)*)>
<!ELEMENT spatialFormatIterator ((%FormatContent;))>
<!ATTLIST spatialFormatIterator 
	%CoreFormatAttributes; 
	height CDATA #IMPLIED 
	rows CDATA #REQUIRED 
	columns CDATA #REQUIRED 
	variableRows CDATA #IMPLIED 
	variableColumns CDATA #IMPLIED 
	indexingDirection CDATA #IMPLIED >
<!ELEMENT temopralFormatIterator ((%FormatContent;))>
<!ATTLIST temopralFormatIterator 
	presentationInterval CDATA #IMPLIED 
	cells CDATA #REQUIRED 
	variableCells CDATA #IMPLIED >
<!ELEMENT basicDeviceLayout ((%FormatContent;))>
<!ATTLIST basicDeviceLayout 
	deviceName CDATA #REQUIRED >
<!ELEMENT textAsset EMPTY>
<!ATTLIST textAsset 
	%AssetAttributes; 
	deviceName CDATA #REQUIRED 
	encoding CDATA #IMPLIED 
	language CDATA #IMPLIED 
	valueType CDATA #IMPLIED >
<!ELEMENT textComponent ((textAsset)*)>
<!ATTLIST textComponent 
	%CacheAttributes; 
	fallbackTextComponentName CDATA #IMPLIED >
<!ELEMENT textComponentFolder ((textComponent | textComponentFolder)*)>
<!ATTLIST textComponentFolder 
	%CommonAttributes; >
<!ELEMENT textComponents ((textComponent | textComponentFolder)*)>
<!ELEMENT theme ((cssDeviceTheme)*)>
<!ATTLIST theme 
	%CacheAttributes; >
<!ELEMENT themeFolder ((theme | themeFolder)*)>
<!ATTLIST themeFolder 
	%CommonAttributes; >
<!ELEMENT themes ((theme | themeFolder)*)>

<!--
 ===========================================================================
 Change History
 ===========================================================================
 $Log$

 08-Dec-04	6416/3	ianw	VBM:2004120703 New Build

 08-Dec-04	6416/1	ianw	VBM:2004120703 New Build

 10-Feb-04	2551/1	steve	VBM:2003121905 Remote Repository Overhaul

 ===========================================================================
-->
