tags/5.0/MPS/architecture/api/src/main/resources/xml-schema/http-pox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.volantis.com/xmlns/2006/11/mps/ws"
    targetNamespace="http://www.volantis.com/xmlns/2006/11/mps/ws" elementFormDefault="qualified">
    <!-- Copyright 2006 Volantis Systems Ltd  -->
    <xs:annotation>
        <xs:documentation>This W3C schema defines the HTTP-POX payload that is passed to the
            messaging web service</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="device-name">
        <xs:annotation>
            <xs:documentation> Defines the allowable syntax for device names. This matches the MCS
                device-core.xsd DeviceNameType definition. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:pattern value="[A-Za-z0-9_.\-@]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="msisdn">
        <xs:annotation>
            <xs:documentation> Defines the form of an MSISDN. An MSISDN consists of an optional
                leading '+' character plus an up-to 15 digit number consisting of country code,
                national destination code and subscriber number. Note that if the '+' is not
                included then MPS will prefix the MSISDN with a default country code.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+?[0-9]{5,14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="smtp-address">
        <xs:annotation>
            <xs:documentation> Defines the form of an SMTP mailbox address. The mailbox address
                format is defined by RFC 2822. @todo A proper pattern match should be applied.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <!-- @todo adapt this (from http://regexlib.com/REDetails.aspx?regexp_id=711) to handle this properly <xs:pattern value="^((?>[a-zA-Z\d!#$%&'*+\-/=?^_`{|}~]+ *|"((?=[\t\n\r -])[^"\\]|\\[\t\n\r -])*" *)*(?<angle><))?((?!\.)(?>\.?[a-zA-Z\d!#$%&'*+\-/=?^_`{|}~]+)+|"((?=[\t\n\r -])[^"\\]|\\[\t\n\r -])*")@(((?!-)[a-zA-Z\d\-]+(?<!-)\.)+[a-zA-Z]{2,}|\[(((?(?<!\[)\.)(25[0-5]|2[0-4]\d|[01]?\d?\d)){4}|[a-zA-Z\d\-]*[a-zA-Z\d]:((?=[\t\n\r -])[^\\\[\]]|\\[\t\n\r -])+)\])(?(angle)>)$"></xs:pattern> -->
            <xs:pattern value="[!-~]+@[!-~]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="address">
        <xs:annotation>
            <xs:documentation> Defines the various forms of address for recipients.
            </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="msisdn smtp-address"/>
    </xs:simpleType>
    <xs:simpleType name="recipient-type">
        <xs:annotation>
            <xs:documentation> Defines the type of a recipient of a message, generally only useful
                for SMTP scenarios. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TO"/>
            <xs:enumeration value="CC"/>
            <xs:enumeration value="BCC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="channel-name">
        <xs:annotation>
            <xs:documentation> Defines a channel by name. This is defined to be compatible with the
                MPS channel name configuration in MCS. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="recipient">
        <xs:annotation>
            <xs:documentation>A recipient for the message</xs:documentation>
        </xs:annotation>

            <xs:sequence>
                <xs:element name="address" type="address">
                    <xs:annotation>
                        <xs:documentation> The address of the recipient in a form appropriate to the
                            channel to be used to send the message to them. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="channel-name" type="channel-name" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> The optional name of the channel to be used to send the
                            message to the recipient. If not specified then message broker will
                            attempt to automatically resolve the channel to use. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="device-name" type="device-name">
                    <xs:annotation>
                        <xs:documentation> The MCS device to which the message is being sent for
                            this recipient. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="type" type="recipient-type" default="TO" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> The optional type of the recipient. If missing, then it
                            is assumed to be 'to'. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="failure-reason" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> The optional reason that delivery to this recipient
                            failed. </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>

    </xs:complexType>
    <xs:element name="send-request">
        <xs:annotation>
            <xs:documentation>The root element for the send request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recipients">
                    <xs:annotation>
                        <xs:documentation>Collection of recipients for this
                        message</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="recipient" type="recipient"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="message">
                    <xs:annotation>
                        <xs:documentation> Defines the message to be sent. Different forms of
                            message payload may be available. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="subject" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation> The optional subject of the message.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:choice minOccurs="1">
                                <xs:element name="url" type="xs:anyURI">
                                    <xs:annotation>
                                        <xs:documentation> The message to be sent is available as an
                                            accessible page. This page is assumed to be rendered in
                                            a manner appropriate to a given recipient device and in
                                            such a way as to permit any necessary attachments to be
                                            included in the message if the recipient channel
                                            supports attachments. The latter is an automatic feature
                                            if MCS is used to render the page (for example when
                                            using Storefront with an XDIME rendering model).
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="content" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation> XDIME (wrapped in a message element) that is
                                            to be processed by MCS and delivered by MPS in a format appropriate
                                            for the output channel, e.g SMS, SMTP.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:choice>
                            <xs:element name="character-encoding" minOccurs="0" default="UTF-8">
                                <xs:annotation>
                                    <xs:documentation>The character encoding used for the message</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:normalizedString" />
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sender" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> Optional element to define any additional information
                            about who the message is from; e.g. mobile@mtn.co.za (if SMTP stuff can
                            be configured to send from that host - might just be channel-only
                            information that we don't send in the request? @todo define any
                            additional stuff here - will probably drop it out of the first version
                            since it needs more input to be ascertained from existing messaging
                            solutions for customers. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="msisdn" type="msisdn" minOccurs="0" >
                                <xs:annotation>
                                    <xs:documentation>
                                        An optional MSISDN for the sender. This may be used depending on which
                                        channel is used to send content to a particular recipient.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="smtp-address" type="smtp-address" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        An optional SMTP address for the sender. This may be used depending on which
                                        channel is used to send content to a particular recipient.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" default="1.0">
                <xs:annotation>
                    <xs:documentation> The version number of this payload. Allows for minor
                        variations within the same namespace, although namespace only changes are
                        expected to be the main road for supporting different versions of the
                        message payload. </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d+.\d"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="failures">
        <xs:annotation>
            <xs:documentation>Root element for the response message</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element name="recipient" type="recipient" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
