trunk/MCS/architecture/api/src/main/resources/xml-schema/repository/2006/02/src/modules/core-module-internal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Volantis Mobility Server. 

Volantis Mobility Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Volantis Mobility Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Volantis Mobility Server.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Paul Duffin (Volantis) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zoe Jones (Volantis) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!-- ==========================================================================
 ! $Header: 
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2002. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 12-Sep-03    Rhys            Create the file
 ! ======================================================================== -->
<!--
 !
 ! ***************************************************************************************************
 ! This file is owned by Architecture and can only be changed by a member of
 ! that group.
 !This file defines items common to many marlin schemata
 !NOTE: Comments within the xs:schema element are preserved in the external version
 ! ***************************************************************************************************
 !
 !-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--
     ! ****************************************************************************************************************************
     ! Schema Name:  Marlin Core
     ! Purpose: Define the core parts of Marlin
     ! ****************************************************************************************************************************
     !-->
    <!--
     ! ************************************************************************
     !         Definitions of Simple Types
     ! ************************************************************************
     !-->
    <xs:simpleType name="ExternalURIType">
        <xs:annotation>
            <xs:documentation>The type used for all references to assets, or directories of assets.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeviceNameType">
        <xs:annotation>
            <xs:documentation>Defines the allowable syntax for device names.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:pattern value="[A-Za-z0-9_.\-@]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DevicePolicyNameType">
        <xs:annotation>
            <xs:documentation>Defines the allowable syntax for a device policy name.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
            <xs:pattern value="[A-Za-z0-9_.\-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CSSIdentToken">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a CSS 'ident' token.
The CSS2.1 specification defines the syntax of an ident) as follows:
            <![CDATA[
ident {nmstart}{nmchar}*
name {nmchar}+
nmstart [_a-zA-Z]|{nonascii}|{escape}
nonascii [^\0-\177]
unicode \\[0-9a-f]{1,6}(\r\n|[ \n\r\t\f])?
escape {unicode}|\\[ -~\200-\4177777]
nmchar [_a-zA-Z0-9-]|{nonascii}|{escape}
]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([_a-zA-Z]|[&#xA0;-&#xFFFD;]|(\\[0-9a-f]{1,6} ?)|\\[ -~&#xA0;-&#xFFFD;])([_a-zA-Z0-9\-]|[&#xA0;-&#xFFFD;]|(\\[0-9a-f]{1,6} ?)|\\[ -~&#xA0;-&#xFFFD;])*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ThemeClassNameType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a theme class name.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="CSSIdentToken"/>
    </xs:simpleType>
    <xs:simpleType name="ThemeClassNameListType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a list of theme class names.</xs:documentation>
        </xs:annotation>
        <xs:list itemType="ThemeClassNameType"/>
    </xs:simpleType>
    <xs:simpleType name="ThemeIDType">
        <xs:annotation>
            <xs:documentation>The allowable syntax for a theme id.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="CSSIdentToken"/>
    </xs:simpleType>
    <xs:simpleType name="QuotedComponentRef">
        <xs:annotation>
            <xs:documentation>Specifies a component to use. This must start with a { and end with a }. Within those delimiters the allowable values are the same as for a <code>UnquotedComponentRef</code>.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\{.*\}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnquotedPolicyRef">
        <xs:annotation>
            <xs:documentation>Specifies a policy to use. This can either be the name of the policy, or an expression using <code>project:getPolicy()</code> and related methods. If it is just a name then it is assumed to be within the current project.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UnquotedComponentRef">
        <xs:annotation>
            <xs:documentation>Specifies a component to use. See <code>UnquotedPolicyRef</code>.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="UnquotedPolicyRef"/>
    </xs:simpleType>

    <xs:complexType name="PolicyReferenceExpression">
        <xs:sequence>
            <xs:element name="expression" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        ! ************************************************************************
        !         Definition of the top level policy element
        ! ************************************************************************
        !-->   
    <xs:element name="policy" abstract="true">
        <xs:annotation>
            <xs:documentation>The parent of all repository policies</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
