tags/5.0/MCS/repository/api/src/main/resources/com/volantis/mcs/repository/xml/dtd/mimas/repository.dtd

<!-- ==========================================================================
 ! $Header: /src/voyager/com/volantis/mcs/repository/xml/dtd/mimas/repository.dtd,v 1.5 2003/03/06 15:08:00 sfound Exp $
 ! ============================================================================
 ! (c) Volantis Systems Ltd 2001. 
 ! ============================================================================
 ! Change History:
 !
 ! Date         Who             Description
 ! =========    =============== ===============================================
 ! 26-Apr-02    Adrian          VBM:2002040808 - created this from phobos.dtd
 !                              Changes: moved to separate sub-dir, removed
 !                              the themes entities and added an include for
 !                              the new Repository-Theme.dtd module
 ! 09-Jul-02    Ian             VBM:2002070905 - Changed locationType to 
 !                              support serer and devices.
 ! 11-Jul-02    Ian             VBM:2002070905 - Changed devices to device.
 ! 16-Aug-02    Paul            VBM:2002081514 - Copied from europa schema.
 ! 27-Aug-02    Ian             VBM:2002081303 - Copied from leda scheme and
 !                              added ConvertibleImageAsset.
 ! 29-Oct-02    Steve           VBM:2002071604 - Added application properties
 ! 28-Oct-02    Allan           VBM:2002101805 - Added support for 
 !                              Spatial and Temporal format iterators.
 ! 31-Jan-02    Chris W         VBM:2003013016 - Added support for some new
 !                              audioEncodings and deviceAudioAssets.
 ! 06-Mar-03    Steve           VBM:2003030505 - Added mapCookiesEnabled to
 !                              application properties.
 ! ======================================================================= -->

<!-- ==========================================================================
 !              Common entities
 ! ======================================================================== -->

<!ENTITY % boolean "(true|false)">
<!ENTITY % number  "NMTOKEN">       <!-- a number, with format [0-9]+ -->

<!--========================================================================-->

<!-- ==========================================================================
 !              Root element
 ! ======================================================================== -->

<!--
  The children of this element are optional but if they are present they must
  be in alphabetical order.
-->
<!ELEMENT mariner (applicationProperties?,
                   assetGroups?,
                   audioComponents?,
                   bundles?,
                   buttonImageComponents?,
                   chartComponents?,
                   devices?,
                   dynamicVisualComponents?,
                   imageComponents?,
                   layouts?,
                   linkComponents?,
                   pluginAttributes?,
                   pluginDefinitions?,
                   policyDescriptors?,
                   revisions?,
                   rolloverImageComponents?,
                   scriptComponents?,
                   textComponents?,
                   themes?,
                   ui?)>
<!ATTLIST mariner
  version   CDATA   #FIXED  "MIMAS"
>

<!-- ==========================================================================
 !              Common elements
 ! ======================================================================== -->

<!ELEMENT attribute (attribute*)>
<!ATTLIST attribute
  name  CDATA   #REQUIRED
  value CDATA   #IMPLIED
  revision      %number;    #IMPLIED
>


<!-- ==========================================================================
 !              Common Attributes
 ! ======================================================================== -->

<!ENTITY % cacheattrs
 "cacheThisPolicy        %boolean;   #IMPLIED  
  retainDuringRetry      %boolean;   #IMPLIED  
  retryFailedRetrieval   %boolean;   #IMPLIED
  timeToLive             %number;    #IMPLIED
  retryInterval          %number;    #IMPLIED
  retryMaxCount          %number;    #IMPLIED"
>



<!-- ==========================================================================
 !              Application properties elements
 ! ======================================================================== -->

<!ELEMENT applicationProperties (applicationProperty*)>

<!ELEMENT applicationProperty EMPTY>
<!ATTLIST applicationProperty
  name                      CDATA     #REQUIRED
  proxyNamespaceBaseURL     CDATA     #REQUIRED
  policyBaseURL             CDATA     #REQUIRED
  cacheBaseDirectory        CDATA     #IMPLIED
  canvasBaseURL             CDATA     #IMPLIED
  themeBaseURL              CDATA     #IMPLIED
  layoutBaseURL             CDATA     #IMPLIED
  componentBaseURL          CDATA     #IMPLIED
  mapCookiesEnabled         CDATA     #IMPLIED
>

<!-- ==========================================================================
 !              Asset group elements
 ! ======================================================================== -->

<!ELEMENT assetGroups (assetGroup*)>

<!ENTITY % locType "(server|device)">
<!ELEMENT assetGroup EMPTY>
<!ATTLIST assetGroup
  name              CDATA     #REQUIRED
  prefixURL         CDATA     #IMPLIED
  repositoryName    CDATA     #IMPLIED
  locationType      %locType;  #REQUIRED
  %cacheattrs;
>

<!-- ==========================================================================
 !              Audio elements
 ! ======================================================================== -->

<!ELEMENT audioComponents (audioComponent*)>

<!ELEMENT audioComponent (audioAsset*,deviceAudioAsset*)>
<!ATTLIST audioComponent
  name                       CDATA   #REQUIRED
  fallbackAudioComponentName CDATA   #IMPLIED
  fallbackTextComponentName  CDATA   #IMPLIED
  %cacheattrs;
>

<!ENTITY % audioEncoding "(adcpm32|basic|gsm|midi|mp3|real|windowsMedia|amr|iMelody|spMidi|wav|rmf|nokring|smaf)">

<!ELEMENT deviceAudioAsset EMPTY>
<!ATTLIST deviceAudioAsset
  encoding          %audioEncoding; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
  deviceName        CDATA           #REQUIRED
>

<!ELEMENT audioAsset EMPTY>
<!ATTLIST audioAsset
  encoding          %audioEncoding; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
>

<!-- ==========================================================================
 !              Bundle elements
 ! ======================================================================== -->

<!ELEMENT bundles (bundle*)>

<!ELEMENT bundle (attribute*)>
<!ATTLIST bundle
  name             CDATA       #REQUIRED
>

<!-- ==========================================================================
 !              Button image elements
 ! ======================================================================== -->

<!ELEMENT buttonImageComponents (buttonImageComponent*)>

<!ELEMENT buttonImageComponent EMPTY>
<!ATTLIST buttonImageComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  upImageComponentName      CDATA   #IMPLIED
  downImageComponentName    CDATA   #IMPLIED
  overImageComponentName    CDATA   #IMPLIED
  %cacheattrs;
>

<!-- ==========================================================================
 !              Chart elements
 ! ======================================================================== -->

<!ELEMENT chartComponents (chartComponent*)>

<!ELEMENT chartComponent (chartAsset*)>
<!ATTLIST chartComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  fallbackChartComponentName    CDATA   #IMPLIED
  %cacheattrs;
>

<!ENTITY % chartType "(bar|column|legend|line|pie)">

<!ELEMENT chartAsset EMPTY>
<!ATTLIST chartAsset
  type          %chartType; #REQUIRED
  XTitle        CDATA       #IMPLIED
  YTitle        CDATA       #IMPLIED
  XInterval     CDATA       #IMPLIED
  YInterval     CDATA       #IMPLIED
  widthHint     %number;    #REQUIRED
  heightHint    %number;    #REQUIRED
>

<!-- ==========================================================================
 !              Device elements
 ! ======================================================================== -->

<!ELEMENT devices (device*)>

<!ELEMENT device (devicePattern*, attribute*)>
<!ATTLIST device
  name      CDATA   #REQUIRED
  fallback  CDATA   #IMPLIED
>

<!ELEMENT devicePattern EMPTY>
<!ATTLIST devicePattern
  pattern   CDATA   #REQUIRED
  revision  %number;  #IMPLIED
>

<!-- ==========================================================================
 !              Dynamic visual elements
 ! ======================================================================== -->

<!ELEMENT dynamicVisualComponents (dynamicVisualComponent*)>

<!ELEMENT dynamicVisualComponent (dynamicVisualAsset*)>
<!ATTLIST dynamicVisualComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackAudioComponentName    CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  fallbackDynVisComponentName   CDATA   #IMPLIED
  %cacheattrs;
>

<!ENTITY % dynamicVisualEncoding "(flash|gif|mpeg1|mpeg4|quicktime|realvideo
                                   |shock|tv|winvideo)">

<!ELEMENT dynamicVisualAsset EMPTY>
<!ATTLIST dynamicVisualAsset
  encoding          %dynamicVisualEncoding; #REQUIRED
  pixelsX           %number;                #REQUIRED
  pixelsY           %number;                #REQUIRED
  assetGroupName    CDATA                   #IMPLIED
  value             CDATA                   #IMPLIED
>

<!-- ==========================================================================
 !              Image  elements
 ! ======================================================================== -->

<!ELEMENT imageComponents (imageComponent*)>

<!ELEMENT imageComponent ((convertibleImageAsset | deviceImageAsset | genericImageAsset)*)>
<!ATTLIST imageComponent
  name                          CDATA   #REQUIRED
  fallbackTextComponentName     CDATA   #IMPLIED
  fallbackImageComponentName    CDATA   #IMPLIED
  %cacheattrs;
>

<!ENTITY % imageEncoding "(BMP|GIF|JPEG|PJPEG|PNG|TIFF|WBMP)">
<!ENTITY % imageRendering "(color|monochrome)">
<!ENTITY % imageSource "(local|remote)">

<!ELEMENT convertibleImageAsset EMPTY>
<!ATTLIST convertibleImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!ELEMENT deviceImageAsset EMPTY>
<!ATTLIST deviceImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  deviceName        CDATA               #REQUIRED
  localSrc          %imageSource;       #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!ELEMENT genericImageAsset EMPTY>
<!ATTLIST genericImageAsset
  pixelsX           %number;            #REQUIRED
  pixelsY           %number;            #REQUIRED
  pixelDepth        %number;            #REQUIRED
  rendering         %imageRendering;    #REQUIRED
  encoding          %imageEncoding;     #REQUIRED
  widthHint         %number;            #REQUIRED
  assetGroupName    CDATA               #IMPLIED
  value             CDATA               #REQUIRED
>

<!-- ==========================================================================
 !              Layout elements
 ! ======================================================================== -->

<!ELEMENT layouts (layout*)>

<!ELEMENT layout (deviceLayout*)>
<!ATTLIST layout
  name  CDATA   #REQUIRED
  %cacheattrs;
>

<!ELEMENT deviceLayout (attribute*, format*)>
<!ATTLIST deviceLayout
  deviceName    CDATA       #REQUIRED
  version       %number;    #IMPLIED
  revision      %number;    #IMPLIED
>

<!ENTITY % formatType "(ColumnIteratorPane
                        |DissectingPane
                        |Form
                        |FormFragment
                        |Fragment
                        |Region
                        |Replica
                        |Grid
                        |Grid.Column
                        |Grid.Row
                        |Pane
                        |RowIteratorPane
                        |Segment
                        |SegmentGrid
                        |SpatialFormatIterator
                        |TemporalFormatIterator)">

<!ELEMENT format (attribute*, subcomponent*, format*)>
<!ATTLIST format
  type  %formatType;    #REQUIRED
  index %number;        #REQUIRED
>

<!ELEMENT subcomponent (attribute*)>
<!ATTLIST subcomponent
  type  %formatType;    #REQUIRED
  index %number;        #REQUIRED
>

<!-- ==========================================================================
 !              Link elements
 ! ======================================================================== -->

<!ELEMENT linkComponents (linkComponent*)>

<!ELEMENT linkComponent (linkAsset*)>
<!ATTLIST linkComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  %cacheattrs;
>

<!ELEMENT linkAsset EMPTY>
<!ATTLIST linkAsset
  deviceName        CDATA   #REQUIRED
  assetGroupName    CDATA   #IMPLIED
  value             CDATA   #IMPLIED
>

<!-- ==========================================================================
 !              PluginAttribute elements
 ! ======================================================================== -->
<!ELEMENT pluginAttributes (pluginAttribute*)>

<!ELEMENT pluginAttribute (attribute*)>
<!ATTLIST pluginAttribute
  name  CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              PolicyDescriptor elements
 ! ======================================================================== -->

<!ELEMENT policyDescriptors (policyDescriptor*)>

<!ELEMENT policyDescriptor (policyDescriptor*)>
<!ATTLIST policyDescriptor
  name                      CDATA   #REQUIRED
  parent                    CDATA   #REQUIRED
  type                      CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Revision elements
 ! ======================================================================== -->

<!ELEMENT revisions (revision*)>

<!ELEMENT revision EMPTY>
<!ATTLIST revision
  name CDATA   #REQUIRED
  revision   %number;    #REQUIRED
>

<!-- ==========================================================================
 !              Repository plugin definition object elements
 ! ======================================================================== -->

<!ELEMENT pluginDefinitions (pluginDefinition*)>

<!ELEMENT pluginDefinition (type*)>
<!ATTLIST pluginDefinition
  name  CDATA   #REQUIRED
>

<!ELEMENT type (attribute*)>
<!ATTLIST type
  value  CDATA   #REQUIRED
>

<!-- ==========================================================================
 !              Rollover image elements
 ! ======================================================================== -->

<!ELEMENT rolloverImageComponents (rolloverImageComponent*)>

<!ELEMENT rolloverImageComponent EMPTY>
<!ATTLIST rolloverImageComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  normalImageComponentName  CDATA   #IMPLIED
  overImageComponentName    CDATA   #IMPLIED
  %cacheattrs;
>

<!-- ==========================================================================
 !              Script elements
 ! ======================================================================== -->

<!ELEMENT scriptComponents (scriptComponent*)>

<!ELEMENT scriptComponent (scriptAsset*)>
<!ATTLIST scriptComponent
  name      CDATA   #REQUIRED
  %cacheattrs;
>

<!ENTITY % scriptProgrammingLanguage "CDATA">
<!ENTITY % scriptMimeType "CDATA">
<!ENTITY % scriptCharacterSet "CDATA">
<!ENTITY % scriptValueType "(literal|url)">

<!ELEMENT scriptAsset EMPTY>
<!ATTLIST scriptAsset
  deviceName            CDATA                           #REQUIRED
  programmingLanguage   %scriptProgrammingLanguage;     #REQUIRED
  mimeType              %scriptMimeType;                #REQUIRED
  characterSet          %scriptCharacterSet;            #IMPLIED
  valueType             %scriptValueType;               #REQUIRED
  assetGroupName        CDATA                           #IMPLIED
  value                 CDATA                           #IMPLIED
>

<!-- ==========================================================================
 !              Text elements
 ! ======================================================================== -->

<!ELEMENT textComponents (textComponent*)>

<!ELEMENT textComponent (textAsset*)>
<!ATTLIST textComponent
  name                      CDATA   #REQUIRED
  fallbackTextComponentName CDATA   #IMPLIED
  %cacheattrs;
>

<!ENTITY % textEncoding "(formValidator|plain|voiceXMLError|voiceXMLHelp
                          |voiceXMLNuanceGrammar|voiceXMLPrompt|volantisMarkup
                          |xmlMarkup)">
<!ENTITY % textLanguage "CDATA">
<!ENTITY % textValueType "(literal|url)">

<!ELEMENT textAsset EMPTY>
<!ATTLIST textAsset
  deviceName        CDATA           #REQUIRED
  encoding          %textEncoding;  #REQUIRED
  language          %textLanguage;  #REQUIRED
  valueType         %textValueType; #REQUIRED
  assetGroupName    CDATA           #IMPLIED
  value             CDATA           #IMPLIED
>

<!-- ==========================================================================
 !              User interface object elements
 ! ======================================================================== -->

<!ELEMENT ui (group*)>

<!ELEMENT group (object*)>
<!ATTLIST group
  name  CDATA   #REQUIRED
>

<!ELEMENT object (attribute*)>
<!ATTLIST object
  name  CDATA   #REQUIRED
>


<!-- ==========================================================================
 !              Theme Module
 ! ======================================================================== -->

<!ELEMENT themes (theme*)>

<!ENTITY % theme-module SYSTEM "theme.dtd">
%theme-module;

<!--
 ===========================================================================
 Change History
 ===========================================================================
 $Log$

 08-Dec-04	6416/3	ianw	VBM:2004120703 New Build

 08-Dec-04	6416/1	ianw	VBM:2004120703 New Build

 20-Jun-03	467/1	doug	VBM:2003032606 added cache attributes to various elements

 ===========================================================================
-->
